<app-loading [content]="secrets"></app-loading>

<div class="align-center pad">
  <div class="row">
    <h3 class="title">
      Secret Achievements
    </h3>
  </div>


  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>From</th>
        <th>To</th>
        <th>Expiration</th>
        <th>Points</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let secret of secrets">
        <td>{{ secret.name }}</td>
        <td>{{ formatDate(secret.validity.from) }}</td>
        <td>{{ formatDate(secret.validity.to) }}</td>

        <td>{{ formatDate(secret.code.expiration) }}
        </td>
        <td>{{secret.value}}</td>
        <td>
          <button type="button" class="btn btn-success" (click)="copyCode(secret.code.code)" [title]="copy">Copy
            Code</button>
        </td>
      </tr>
      <tr>
        <td colspan="3" style="text-align: center;">
          Create new
        </td>
        <td>
          <ngb-timepicker [(ngModel)]="time" [spinners]="false"></ngb-timepicker>
        </td>
        <td>
          <input type="number" value="{{points}}" step="5" />
        </td>
        <td>
          <button type="button" class="btn btn-primary" (click)="createSecret()">Create</button>
        </td>
      </tr>
    </tbody>

  </table>
</div>