a {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

p {
  font-size: 15px;
}

.speaker-section {
  padding: 20px 20px;
  display: flex;
  align-items: center;
}

.speaker-section .name {
  color: #004ecc;
}

.speaker-section img {
  border-radius: 50%;
}

.speaker-section h5 {
  margin: 15px auto;
}

.session-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.session-details i {
  color: #008ae6;
}

.session-details i span {
  margin: 0 5px;
}

.session-details div.padded {
  padding: 0 10px;
}

.session-details span {
  font-family: "Roboto", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.session-section .description p {
  margin: 20px;
  white-space: pre-line;
  line-height: 1.45;
}

@media (max-width: 767px) {
  .speaker-section {
    display: block;
  }
  .speaker-section h5 {
    text-align: center;
  }
  #speaker-name {
    margin-bottom: 5px;
  }
  h3.title {
    font-size: 40px;
  }
  .session-details p {
    margin-bottom: 2px;
  }
}
