<app-menu></app-menu>

<section class="section">
  <div class="container">
    <i class="icon section-icon fa fa-sign-in align-center"></i>
    <h3 *ngIf="router.url === '/login'" class="align-center">Login</h3>
    <h3 *ngIf="router.url === '/register'" class="align-center">Register</h3>
    <br />
    <br />

    <div class="row align-center">
      <div class="col-md-4">
        <button class="btn btn-facebook" (click)="onFacebookLogin()" [disabled]="!isFacebookActive">
          <i class="fa fa-facebook"></i>
          Sign in with Facebook
        </button>
        <!--<div class="fb-login-button" data-max-rows="1" data-size="large"
          data-button-type="continue_with" data-show-faces="false"
          data-auto-logout-link="false" data-use-continue-as="false"></div>-->
      </div>

      <div class="col-md-4">
        <!--<div *ngIf="isGoogleActive" id="google-signin" (data-onsuccess)="onGoogleLogin"></div>-->
        <button id="google-signin" class="btn btn-google" [disabled]="!isGoogleActive">
          <i class="fa fa-google"></i>
          Sign in with Google
        </button>
      </div>

      <div class="col-md-4">
        <button class="btn btn-fenix">
          <i class="fa fa-graduation-cap"></i>
          Sign in with Fenix
        </button>
      </div>
    </div>

  </div>
</section>
