button:disabled,
button[disabled] {
  background-color: gray
}

button {
  width: 100%;
  margin-left: 0 !important;
}

.btn-fb {
  background-color: #48649F;
}

.btn-google {
  background-color: #DD4B39;
}

.btn-fenix {
  background-color: #19ACCD;
}

.btn-linkedIn {
  background-color: #0077B5;
}

.btn {
  border: 0px;
  color: #fff;
  margin: 10px;
}

.row .fa {
  color: white
}
