button:disabled,
button[disabled] {
  background-color: gray
}
button,
a.btn {
  width: 100%;
  margin-left: 0 !important;
  letter-spacing: 2px;
  font-size: 13px;
}

button i,
a.btn i {
  font-size: 18px;
}

.btn-fb {
  background-color: #48649F;
}

.btn-google {
  background-color: #DD4B39;
}

.btn-fenix {
  background-color: #19ACCD;
}

.btn-linkedin {
  background-color: #0077B5;
}

.btn {
  border: 0px;
  color: #fff;
  margin: 10px;
}

.row .fa {
  color: white
}


.topbar{
  background-color: black;
  height: 7vh;
  display: flex;
  justify-content: center;
}

#logo_white {
  max-height: 7vh;
}

.buttons{
  display: flex;
  justify-content: space-around;
}

.button-google {
  display: flex;
  justify-content: center;
}

.butn{
  border: 2px solid black;
  border-color: #d8d8d8;

  flex-grow: 1;
  font-family: "Google Sans",arial,sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  letter-spacing: 0.25px;

  align-items: center;
  justify-content: center;
  /* font-family: "Montserrat"; */
  font-size: 14px;
  background: #ffffff;
  width: 60px;
  padding: 7px 132px;
  text-align: center;
  text-decoration: none;
  color: #3c4043;
  border-radius: 3px;
  cursor: pointer;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}