button:disabled,
button[disabled] {
  background-color: gray
}
button,
a.btn {
  width: 100%;
  margin-left: 0 !important;
  letter-spacing: 2px;
  font-size: 13px;
}

button i,
a.btn i {
  font-size: 18px;
}

.btn-fb {
  background-color: #48649F;
}

.btn-google {
  background-color: #DD4B39;
}

.btn-fenix {
  background-color: #19ACCD;
}

.btn-linkedin {
  background-color: #36434a;
}

.btn-microsoft {
  background-color: #4a36e6;
}

.btn {
  border: 0px;
  color: #fff;
  margin: 10px;
}

.row .fa {
  color: white
}

.topbar{
  background-color: black;
  height: 7vh;
  display: flex;
  justify-content: center;
}

#logo_white {
  max-height: 3vh;
  display: flex;
}

.buttons{
  display: flexbox;
  margin: auto; 
  width: 280px; 
  height: 30px;
  font-weight: bold;
  font-family: "Google Sans",arial,sans-serif;
  letter-spacing: 0.25px;
  font-size: 14px;
  white-space: nowrap;
  color: #ffffff;
  text-align: center;
  border-radius: 4px;
  padding: 4px 0px;
}

.new-align-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
}

.new-align-center > * {
  margin-bottom: 3vh;
}