.testimonial .text-box {
  line-height: 20px !important;
}

.carousel-indicators {
  width: auto;
}

.title {
  color: black;
}

@media screen and (min-width: 360px) {
  .standsField {
    font-style: italic;
    font-weight: 700;
    font-size: 8pt;
    line-height: 18px;
  }
}

@media screen and (min-width: 601px) {
  .standsField {
    font-style: italic;
    font-weight: 500;
    font-size: 13pt;
  }
}

.carousel-inner {
  text-align: center;
}

.carousel-inner img {
  background-color: white;
  max-height: 80vh;
  width: auto;
  display: inline-block;
}

.carousel-indicators {
  top: 5%;
  ;
  bottom: inherit;
}

.carousel-indicators li.active {
  background-color: black;
}

.carousel-indicators li {
  border-color: black;
}

.carousel-caption {
  top: 6%;
  bottom: inherit;
  color: black;
}

.carousel-control {
  background-image: none !important;
}

.carousel-control span {
  color: black;
}

* {
  font-family: 'Montserrat' !important;
}