<app-loading [content]="signatures"></app-loading>

<div class="wrapper pad" *ngIf="signatures && signatures.companies">
  <div class="row">
    <h3 class="title">
      {{signatures.day | date:'EEEE':'+0100'}}'s Activity
    </h3>
    <h6 *ngIf="userSignatures && userSignatures.redeemed" class="title">
      Already redeemed your prize.
      <br> Come back tomorrow for more prizes
    </h6>
    <div class="title">
      <h5 [ngClass]="{allSignatures: numSignatures === signatures.capacity}">
        <span *ngIf="numSignatures">{{numSignatures}}/{{signatures.capacity}}</span>
        <span *ngIf="!numSignatures">0/{{signatures.capacity}}</span>
        <i *ngIf="numSignatures === signatures.capacity" class="fa fa-check"></i>
      </h5>
    </div>
    <div class="alert alert-info promocode-info" *ngIf="!userSignatures || !userSignatures.redeemed">
      <b>Earn prizes</b>
      <span *ngIf="!numSignatures || numSignatures < signatures.capacity">: Visit 10 companies and get the chance to spin the wheel of fortune at the frontdesk.</span>
      <span *ngIf="numSignatures === signatures.capacity"><b> now:</b> You can now spin the wheel of fortune at the frontdesk.</span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="signatures">
        <div *ngFor="let company of signatures.companies">
          <div class="card-portrait-wrapper">
            <img class="portrait" src="{{company.img}}">
          </div>
          <p style="text-align: center;">{{company.name ? company.name : ""}}</p>
        </div>
        <div class="card-portrait-wrapper missing"
          *ngFor="let missing of getArray(signatures.capacity - signatures.companies.length)">
        </div>
      </div>
    </div>
  </div>
</div>