<app-loading [content]="achievements"></app-loading>

<div class="main-section" *ngIf="achievements">
  <h3 class="title">Speed Dates</h3>

  <div class='points'>
    <h5>Total points: <strong> {{myPoints}}</strong></h5>

  </div>

  <div class='days'>
    <p class="shifter" (click)="decreaseDay()">&lt;</p>
    <p class='day'>{{cheat[currentDay]}}</p>
    <p class="shifter" (click)="increaseDay()">&gt;</p>
  </div>

  <div class='points'>
    <h6>Points today: <strong>{{days[currentDay].points}}</strong></h6>
  </div>

  <div class='achievements'>
    <div class='achievement' *ngFor='let speedDate of days[currentDay].achievements'>
      <div class='logo'>
        <img [src]="speedDate.achievement.img">
      </div>
      <div class="bar"></div>
      <div class="points">
        <div [ngClass]="{'green': speedDate.frequence >= 1, 'grey': speedDate.frequence < 1}">
        </div>
        <div [ngClass]="{'green': speedDate.frequence >= 2, 'grey': speedDate.frequence < 2}">
        </div>
        <div [ngClass]="{'green': speedDate.frequence >= 3, 'grey': speedDate.frequence < 3}">
        </div>
      </div>
    </div>
  </div>

</div>