a {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

p {
  font-size: 15px;
}

.sponsor-section {
  padding: 20px 20px;
  display: flex;
  align-items: center;
}

.sponsor-section h5 {
  margin: 15px auto;
}

@media (max-width: 767px) {
  .sponsor-section {
    display: block;
  }
  .sponsor-section h5 {
    text-align: center;
  }
  #sponsor-name {
    margin-bottom: 5px;
  }
  h3.title {
    font-size: 40px;
  }
  .sponsor-image {
    margin-bottom: 30px;
  }
}

.contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.contact {
  float: left;
  display: inline;
}

.contact i {
  float: left;
  margin-right: 10px !important;
}

.contact a {
  float: left;
}

.sinfo-banner {
  margin-top: 50px;
}
.sponsor-image img{
  max-width: 50vw;
  width: 100%;
}