<nav id="sidebar" [ngClass]="{'active': showSidebar }">
  <button type="button" class="hidden-lg hidden-md" (click)="showSidebar = !showSidebar" id="sidebarCollapse">
    <i *ngIf="showSidebar" class="glyphicon glyphicon-menu-left"></i>
    <i *ngIf="!showSidebar" class="glyphicon glyphicon-menu-right"></i>
  </button>
  <!-- Sidebar Links -->
  <ul class="list-unstyled components">
    <span id="sidebarSpan">
      <li [ngClass]="{'active': detectLocation('/me')}">
        <a routerLink="/me">
          <i class="glyphicon glyphicon-user"></i>
          My Profile
        </a>
      </li>
      <li [ngClass]="{'active': detectLocation('/achievements')}">
        <a routerLink="/achievements">
          <i class="fa fa-trophy"></i>
          Achievements
        </a>
      </li>
      <li [ngClass]="{'active': detectLocation('/scoreboard')}">
        <a routerLink="/scoreboard">
          <i class="glyphicon glyphicon-tower"></i>
          Scoreboard
        </a>
      </li>
      <li>
        <a href="#workshopsSubmenu" data-toggle="collapse" attr.aria-expanded="{{ detectLocation('/workshops') }}">
          <i class="glyphicon glyphicon-briefcase"></i>
          Workshops
        </a>
        <ul class="list-unstyled" id="workshopsSubmenu" [ngClass]="{'in': detectLocation('/workshops'), 'collapse': !detectLocation('/workshops')}">
          <li [ngClass]="{'active': detectLocation('/workshops/register')}">
            <a routerLink="/workshops/register">Register</a>
          </li>
          <li [ngClass]="{'active': detectLocation('/workshops/my-workshops')}">
            <a routerLink="/workshops/my-workshops">My Workshops</a>
          </li>
          <li *ngIf="user && user.role === 'team'" [ngClass]="{'active': detectLocation('/workshops/workshops-status')}">
            <a routerLink="/workshops/workshops-status">Workshop Status</a>
          </li>
        </ul>
      </li>
      <li *ngIf="user && user.role === 'user' && eventOcurring" 
      [ngClass]="{'active': detectLocation('/card')}">
        <a routerLink="/card">
          <i class="glyphicon glyphicon-list-alt"></i>
          My card
        </a>
      </li>
      <li *ngIf="user && user.role === 'team'"
      [ngClass]="{'active': detectLocation('/promote')}">
        <a routerLink="/promote">
          <i class="glyphicon glyphicon-king"></i>
          Promote
        </a>
      </li>
      <li *ngIf="user && user.role === 'team'"
      [ngClass]="{'active': detectLocation('/checkin')}">
        <a routerLink="/checkin">
          <i class="glyphicon glyphicon-qrcode"></i>
          Check-in
        </a>
      </li>
      <li *ngIf="user && user.role === 'company'">
        <a href="#linksSubmenu" data-toggle="collapse" attr.aria-expanded="{{ detectLocation('/links') }}">
          <i class="glyphicon glyphicon-duplicate"></i>
          Links
        </a>
        <ul class="collapse list-unstyled" id="linksSubmenu" [ngClass]="{'in': detectLocation('/links'), 'collapse': !detectLocation('/links')}">
          <li [ngClass]="{'active': detectLocation('/links/link')}">
            <a routerLink="/links/link">Link</a>
          </li>
          <li [ngClass]="{'active': detectLocation('/links/my-links')}">
            <a routerLink="/links/my-links">My Links</a>
          </li>
        </ul>
      </li>
      <li *ngIf="user && user.role === 'company'"
      [ngClass]="{'active': detectLocation('/signature')}">
        <a routerLink="/signature">
          <i class="fa fa-check"></i>
          Sign Card
        </a>
      </li>
    </span>
    <span id="logoutSpan">
      <li>
        <a (click)="onLogout()">
          <i class="glyphicon glyphicon-log-out"></i>
          Logout
        </a>
      </li>
    </span>
  </ul>
</nav>