<nav id="sidebar" class="active">
  <!-- Sidebar Links -->
  <ul class="list-unstyled components">
    <span id="sidebarSpan">

      <li>
        <a routerLink="/user/qrcode" routerLinkActive="active">
          <img src="assets/img/icons/sidebar/qrcode.png">
          QR Code
        </a>
      </li>

      <li *ngIf="user && user.role !== 'company'">
        <a routerLink="/user/cv" routerLinkActive="active">
          <img *ngIf="isCvUpdated" src="assets/img/icons/sidebar/cv.png">
          <img *ngIf="!isCvUpdated" src="assets/img/icons/sidebar/cvnotification.png">
          Upload CV
        </a>
      </li>

      <li *ngIf="user && user.role === 'team'">
        <a routerLink="/user/sessions" routerLinkActive="active">
          <i class="glyphicon glyphicon-qrcode"></i>
          Sessions
        </a>
      </li>

      <!--<li *ngIf="user && user.role === 'team'">
        <a routerLink="/user/checkin" routerLinkActive="active">
          <i class="glyphicon glyphicon-qrcode"></i>
          Check-in
        </a>
      </li>

      <li *ngIf="user && user.role == 'team'">
        <a routerLink="/user/validate-card" routerLinkActive="active">
          <i class="glyphicon glyphicon-search"></i>
          Validate Card
        </a>
      </li>-->

      <li *ngIf="user && user.role === 'team'">
        <a routerLink="/user/promote" routerLinkActive="active">
          <i class="glyphicon glyphicon-king"></i>
          Promote
        </a>
      </li>

      <li *ngIf="user && user.role === 'team'">
        <a routerLink="/user/pick-winner" routerLinkActive="active">
          <i class="glyphicon glyphicon-flag"></i>
          Pick Winner
        </a>
      </li>

      <li *ngIf="user && user.role === 'company'">
        <a routerLink="/user/downloads/download" routerLinkActive="active">
          <i class="glyphicon glyphicon-paperclip"></i>
          Download CVs
        </a>
      </li>

      <li *ngIf="user && user.role === 'team'">
        <a href="#downloadsSubmenu" data-toggle="collapse" attr.aria-expanded="{{ detectLocation('/user/downloads') }}">
          <i class="glyphicon glyphicon-paperclip"></i>
          Manage Downloads
        </a>
        <ul class="collapse list-unstyled" id="downloadsSubmenu"
          [ngClass]="{'in': detectLocation('/user/downloads'), 'collapse': !detectLocation('/user/downloads')}">
          <li [ngClass]="{'active': detectLocation('/user/downloads/download')}">
            <a routerLink="/user/downloads/download">Download CVs</a>
          </li>
          <li [ngClass]="{'active': detectLocation('/user/downloads/status')}">
            <a routerLink="/user/downloads/status">Endpoints Status</a>
          </li>
          <li [ngClass]="{'active': detectLocation('/user/downloads/manage')}">
            <a routerLink="/user/downloads/manage">Create Endpoints</a>
          </li>
        </ul>
      </li>

      <li *ngIf="user && user.role === 'company'">
        <a routerLink="/user/links/link" routerLinkActive="active">
          <i class="fa fa-check"></i>
          Sign and Link Card
        </a>
      </li>

      <li *ngIf="user && user.role === 'company'">
        <a routerLink="/user/links/my-links" routerLinkActive="active">
          <i class="glyphicon glyphicon-duplicate"></i>
          My links
        </a>
      </li>

      <li *ngIf="user && user.role === 'company'">
        <a routerLink="/user/speed-dates/sign" routerLinkActive="active">
          <img src="assets/img/icons/sidebar/speeddating.png">
          Sign Speed Date
        </a>
      </li>

      <li *ngIf="user && user.role !== 'company'">
        <a routerLink="/user/workshops" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <img src="assets/img/icons/sidebar/workshops.png">
          Workshops
        </a>
      </li>

      <li *ngIf="user && user.role !== 'company'">
        <a routerLink="/user/speed-dates" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <img src="assets/img/icons/sidebar/speeddating.png">
          Speed Dates
        </a>
      </li>

      <li *ngIf="user && user.role === 'team'">
        <a routerLink="/user/workshops/workshops-status" routerLinkActive="active">
          <img src="assets/img/icons/sidebar/workshops.png">
          Workshop Status
        </a>
      </li>

      <li *ngIf="user && user.role !== 'company'">
        <a routerLink="/user/achievements" routerLinkActive="active">
          <img src="assets/img/icons/sidebar/achievements.png">
          Achievements
        </a>
      </li>

      <!--<li *ngIf="user && user.role !== 'company'">
        <a routerLink="/user/redeem" routerLinkActive="active">
          <img src="assets/img/icons/sidebar/qrcode-achievement.svg">
          Find achievements
        </a>
      </li>-->

      <li *ngIf="user && user.role !== 'company'">
        <a routerLink="/user/scoreboard" routerLinkActive="active">
          <img src="assets/img/icons/sidebar/scoreboard.png">
          Scoreboard
        </a>
      </li>

      <!--<li *ngIf="user && user.role !== 'company'">
        <a routerLink="/user/card" routerLinkActive="active">
          <img src="assets/img/icons/sidebar/card.svg">
          My card
        </a>
      </li>-->

      <li *ngIf="user">
        <a routerLink="/user/promocodes" routerLinkActive="active">
          <img src="assets/img/icons/sidebar/discount-coupon-white.png">
          Promo Codes
        </a>
      </li>

    </span>
  </ul>
</nav>