.fa-check {
  color: white;
}

#sidebar {
  position: relative;
  min-width: 185px;
  max-width: 250px;
  background: #133157;
  color: #fff;
  transition: all 0.3s;
  height: 100%;
}

#sidebar.active {
  min-width: 80px;
  max-width: 100px;
  text-align: center;
}

#sidebar.active .sidebar-header strong {
  display: block;
}

#sidebar ul li a {
  text-align: left;
}

#sidebar.active ul li a {
  padding: 20px 10px;
  text-align: center;
  font-size: 12px;
}

#sidebar.active ul li {
  margin-bottom: 0px;
}

#sidebar.active ul li a i {
  margin-right:  0;
  display: block;
  font-size: 1.8em;
  margin-bottom: 5px;
}

#sidebar.active ul ul a {
  padding: 10px !important;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
  top: auto;
  bottom: 5px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #133157;
}

#sidebar .sidebar-header strong {
  display: none;
  font-size: 1.8em;
}

#sidebar ul.components {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a i {
  margin-right: 10px;
}

#sidebar ul li a i, #sidebar ul li a img {
  max-height: 40px;
}

#sidebar ul li a i.fa::before {
  color: white;
}

#sidebar ul li a:hover {
  color: #fff;
  background: #2C49A6;
}
#sidebar ul li a:hover i.fa::before {
  color: #2C49A6;
}

#sidebar a[aria-expanded="true"] ~ ul{
  background: #037ac9;
}
#sidebar a[aria-expanded="true"] ~ ul li a{
  border-bottom: 1px solid #eeeeee29;
}
#sidebar li.active,
#sidebar li.active + a {
  background: #2C49A6 !important;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: #2C49A6;
  font-weight: 600;
}

button#sidebarCollapse {
  position: absolute;
  outline: none;
  right: -55px;
  top: 40vh;
  color: #133157;
  padding: 2px 30px 2px 0px;
  animation: jump 1s infinite;
  animation-timing-function: ease-in-out;
  font-size: 25px;
  background: rgba(0, 0, 0, 0);
  border: none;
  z-index: 1;
}

button#sidebarCollapse i {
  font-weight: 800;
}
@keyframes jump { 
  0% { right: -55px; } 
  50% { right: -58px; } 
  100% { right: -55px; } 
}


#sidebar p {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

#sidebar a, 
#sidebar a:hover, 
#sidebar a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar .navbar {
  padding: 15px 10px;
  background: #133157;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

#sidebar .navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

#sidebar i, #sidebar span {
  display: inline-block;
}

a[data-toggle="collapse"] {
  position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
  content: '\e259';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'Glyphicons Halflings';
  font-size: 1.15em;
  font-weight: 600;
  line-height: 11px;
}
a[aria-expanded="true"]::before {
  content: '\e260';
}

ul ul a {
  padding-left: 30px !important;
  background: #0065a9;
}

@media (max-width: 768px) {
  #sidebar {
    min-width: 80px;
    max-width: 97px;
    text-align: center;
    margin-left: -97px !important ;
  }
  a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
  #sidebar.active {
    margin-left: 0 !important;
  }

  #sidebar .sidebar-header h3, #sidebar .CTAs {
    display: none;
  }

  #sidebar .sidebar-header strong {
    display: block;
  }

  #sidebar ul li a {
    padding: 20px 10px;
  }

  #sidebar ul li a span {
    font-size: 0.85em;
  }
  #sidebar ul li a i {
    margin-right:  0;
    display: block;
  }

  #sidebar ul ul a {
    padding: 10px !important;
  }

  #sidebar ul li a i {
    font-size: 1.3em;
  }
}


#sidebarSpan li a {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}