div.loading-wrapper {
  margin: 30px auto;
}

div.portrait-wrapper {
  margin: 10px auto;
  position: relative;
}

div.mini-portrait-wrapper {
  position: absolute;
  width: 40%;
  height: 40%;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background-color: rgba(255,255,255, 1);
  border: 3px solid #048ae6;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div.mini-portrait-wrapper h2 {
  margin: 0;
}
div.mini-portrait-wrapper span.lead {
  margin-bottom: 0px;
}

div.mini-portrait-wrapper img {
  width: 100%;
}

.sinfo-logo {
  height: 30px;
}

h3 {
  margin: 20px auto;
}

h5 {
  margin-top: 10px;
}

p {
  font-size: 15px;
}

img.portrait {
  border-radius: 50%;
  border: 3px solid #048ae6;
}

div.achivements-wrapper {
  margin: 20px auto;
}

div.achivements-wrapper img.achievement {
  width: 100px;
  margin: 5px;
}

.allSignatures, .allSignatures i {
  color: green;
}

.qrcode-wrapper {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;

  border: 15px solid white;
}


.qr-code-title {
  margin: 0 0 20px 0;
}

.qrcode {
  background: #2C49A6;
  padding: 6vw;
  border-radius: 15px;
}

.name {
  color: white;
}

.role {
  background: white
}


.show-message {
  color: grey;
  font-size: 18px

}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  font-size: 11px;
  font-weight: 700;
  color: white;
  padding: 15px;
  line-height: 17px;
  letter-spacing: 3px;
}
.inputfile + label span {
  font-size: 17px;
}
.inputfile:focus + label,
.inputfile + label:hover {
  background-color: red;
}

.btn {
  margin: 0;
  margin-bottom: 10px;
  letter-spacing: 3px;
}

.btn-success {
  background-color: #449d44 !important;
  border-color: #398439 !important;
}
.btn-info {
  background-color: #428bca;
  border-color: #357ebd;
}
#deleteFile {
  width: 100%;
  background-color: #d9534f !important;
  border-color: #d43f3a !important;
}

.cv-alert {
  max-width: 285px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.mini-achievement {
  max-width: 50px;
}

@media (max-width: 425px){
  div.user {
    background-size: 150%;
  }
  div.user h5 {
    text-align: center;
  }
  div.mini-portrait-wrapper h2 {
    font-size: 25px;
    line-height: 20px;
  }
  div.mini-portrait-wrapper span.lead {
    font-size: 13px;
  }
}

.qrcodeimg {
  display: inline-block;
}
