<app-loading [content]="user"></app-loading>

<div class="align-center pad" *ngIf="user">
  <div class="row">
    <h3 class="qr-code-title">
      QR Code
    </h3>

    <h5 *ngIf="user.role === 'team'">
      <img class="sinfo-logo" src="https://sinfo.ams3.digitaloceanspaces.com/static/25-sinfo/sinfoLogo.png">
    </h5>
  </div>

  <div class="card-wrapper">
    <mat-card appearance="outlined" class="card title_center">
      <mat-card-header
        style="display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 16px;">
        <div style="display: flex; justify-content: space-between; align-items: center; ">
          <div *ngIf="user.role === 'team'"> <img class="sinfo-logo" src="assets/img/PowerOn.png"></div>
          <div *ngIf="user.role === 'company' && company"> <img class="sinfo-logo" src="{{company.img}}">
          </div>
          <mat-card-title>
            <div>
              {{user.name}}
            </div>
          </mat-card-title>
          <mat-card-subtitle *ngIf="user.role === 'company' && company">
            <h6 style="color:white;">{{company.name}}</h6>
          </mat-card-subtitle>
        </div>
      </mat-card-header>
      <qrcode mat-card-image class="qrcodeimg" [qrdata]="user.id" [scale]="10"></qrcode>
      <mat-card-content>
        <h5>
          {{presentationRole}}
        </h5>
      </mat-card-content>
    </mat-card>
  </div>



  <!-- <div class="row qrcode-wrapper">

    <div class="qrcode">


      <div class="qrcode-grid ">
        <qrcode class="qrcodeimg" [qrdata]="user.id" [level]="'L'"></qrcode>
      </div>

      <h3 class="name">
        {{user.name}}
      </h3>
      <h5 *ngIf="user.role === 'company' && company" class="name">
        {{company.name}}
      </h5>

      <div *ngIf="presentationRole" class="role">
        <h3>
          {{presentationRole}}
        </h3>
      </div>
    </div>
  </div> -->

  <div class="container">
    <div class="col-md-12">
      <p class="text-alt" style="text-align: center">
        <small>Made with ♥ at SINFO - <a href="https://github.com/sinfo/ng-sinfo-webapp" target="_blank">Open source
            code</a>
        </small>

      </p>
    </div>
  </div>
</div>