.align-center {
  width: 100%;
}

.wrapper {
  display: flex;
  align-items: stretch;
  min-height: 87vh;
}

#content {
  padding: 20px;
  transition: all 0.3s;
  width: 100%;
}

div.loading-wrapper {
  margin: 30px auto;
}

div.user {
  background: url("http://static.sinfo.org/SINFO_25/powerOnBackground.png") right no-repeat;
  background-position: right top;
  background-size: 60%;
}

div.portrait-wrapper {
  margin: 10px auto;
  position: relative;
}

div.mini-portrait-wrapper {
  position: absolute;
  width: 40%;
  height: 40%;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background-color: rgba(255,255,255, 1);
  border: 3px solid #048ae6;
  padding: 10px;
}

div.mini-portrait-wrapper img {
  width: 100%;
}

.sinfo-logo {
  height: 30px;
}

h3 {
  margin: 20px auto;
}

h5 {
  margin-top: 10px;
}

p {
  font-size: 15px;
}

img.portrait {
  border-radius: 50%;
  border: 3px solid #048ae6;
}

div.achivements-wrapper {
  margin: 20px auto;
}

div.achivements-wrapper img.achievement {
  width: 100px;
  margin: 5px;
}

.allSignatures, .allSignatures i {
  color: green;
}

.qrcode-wrapper {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 990px){
  .qrcode-wrapper {
    flex-flow: column;
  }
}

@media (max-width: 425px){
  div.user {
    background-size: 150%;
  }

  div.user h5 {
    text-align: center;
  }
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  margin-top: 20px;
  font-size: 11px;
  font-weight: 700;
  color: white;
  padding: 15px;
  line-height: 17px;
  letter-spacing: 3px;
}
.inputfile + label span {
  font-size: 17px;
}
.inputfile:focus + label,
.inputfile + label:hover {
  background-color: red;
}

.btn-success {
  background-color: #449d44 !important;
  border-color: #398439 !important;
}
.btn-info {
  background-color: #428bca;
  border-color: #357ebd;
}

.cv-alert {
  width: 30%;
}
