<app-loading [content]="user"></app-loading>

<div class="align-center" *ngIf="user">
  <div class="row">
    <h3 class="qr-code-title">
      QR Code
    </h3>

    <h5 *ngIf="user.role === 'team'">
      <img class="sinfo-logo" src="https://sinfo.ams3.digitaloceanspaces.com/static/25-sinfo/sinfoLogo.png">
    </h5>
  </div>

  <div class="row qrcode-wrapper">

    <div class="qrcode">
      <qrcode class="qrcodeimg" [qrdata]="user.id" [level]="'M'"></qrcode>

      <h3 class="name">
        {{user.name}}
      </h3>
      <h5 *ngIf="user.role === 'company' && company" class="name">
        {{company.name}}
      </h5>

      <div *ngIf="presentationRole" class="role">
        <h3>
          {{presentationRole}}
        </h3>
      </div>
    </div>
  </div>
  <div class="row">
    <h5 class="show-message">
      Show this QR Code to a SINFO member!
    </h5>
  </div>
</div>