.wrapper {
  display: flex;
  align-items: stretch;
  min-height: 87vh;
}

#content {
  padding: 20px;
  transition: all 0.3s;
  width: 100%;
}

div.loading-wrapper {
  margin: 30px auto;
}

div.user {
  background: url("http://static.sinfo.org/SINFO_25/powerOnBackground.png") right no-repeat;
  background-position: right top;
  background-size: 60%;
}

div.portrait-wrapper {
  margin: 10px auto;
}

h3 {
  margin: 20px auto;
}

h5 {
  margin-top: 10px;
}

p {
  font-size: 15px;
}

img.portrait {
  border-radius: 50%;
  border: 3px solid #048ae6;
}

div.achivements-wrapper {
  margin: 20px auto;
}

div.achivements-wrapper img.achievement {
  width: 100px;
  margin: 5px;
}

.allSignatures, .allSignatures i {
  color: green;
}

@media (max-width: 425px){
  div.user {
    background-size: 150%;
  }

  div.user h5 {
    text-align: center;
  }
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  margin-top: 20px;
  font-size: 11px;
  font-weight: 700;
  color: white;
  padding: 15px;
  line-height: 17px;
  letter-spacing: 3px;
}
.inputfile + label span {
  font-size: 17px;
}
.inputfile:focus + label,
.inputfile + label:hover {
  background-color: red;
}