.promocode-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.25rem 0;
}

.promocode-row {
  margin-left: 0.5rem;
  margin-right: 0;
  text-align: center;
}

.promocode-column {
  padding: 0 0.5rem 0.5rem 0;
  margin: 0;
}

.no-promocodes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30vh;
}

.padding-margin-0 {
  padding: 0 !important;
  margin: 0 !important;
}

.promocode-image {
  margin: 0 !important;
  height: 100px;
  width: auto;
}
