<app-loading [content]="partners"></app-loading>

<div id="promocodes">
  <h3 class="promocode-title">Promocodes</h3>

  <div class="row promocode-row">
    <div class="no-promocodes" *ngIf="isPartnersEmpty">
      <h6 class="subtitle">No promo codes yet :(</h6>
    </div>

    <div *ngIf="!isPartnersEmpty">
      <div *ngFor="let p of partners; let i = index">
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 promocode-column">
          <mat-card class="padding-margin-0">
            <img
              mat-card-image
              src="{{ p.img }}"
              alt="Promocode image"
              class="promocode-image"
            />
            <mat-card-content class="padding-margin-0">
              <p class="description" style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
                {{ p.name }}
              </p>
            </mat-card-content>
            <mat-card-actions class="padding-margin-0">
              <button mat-button (click)="openDialog(p)">
                More Information
              </button>
              <button
                id="tooltip-{{ p.code }}"
                mat-button
                (click)="copy($event, p.code)"
              >
                Copy Code
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
