<app-loading [content]="partners"></app-loading>

<div class="wrapper pad">
  <h3 class="partners-title">
    Promocodes
  </h3>
  <div class="row">
    <div class="col-sm-12">
      <div class="cards" *ngIf='!isPartnersEmpty'>
        <div class="card-wrapper" *ngFor="let p of partners; let i = index">
          <!-- <div class='card' id='{{i}}'>
            <div class='card-img-wrapper'>
              <img src='{{p.img}}' class='card-img'>
            </div>
            <div class='code-description'>
              <span class='text-box'> <markdown>{{p.description}}</markdown> </span>
            </div>
            <div class='card-text' (click)='copy($event, p.code)' *ngIf='p.code'>
              <span class='text-box'><b>{{p.code}}</b></span>
            </div>
            <div id='tooltip-{{p.code}}' class='tooltip' style='opacity: 0;'>Copied!</div>
          </div> -->

          <mat-card appearance="outlined" class="mat-card" id="{{i}}">
            <mat-card-header class="mat-card-header">
              <mat-card-title cente>{{p.name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{p.img}}">
            <h3 *ngIf='!p.link' class="text-box" style="color:white;">{{p.code}}</h3>
            <h3 *ngIf='p.link' class="text-box"><a style="color:white;" href="{{p.code}}"><u>Link</u></a></h3>
            <mat-card-content>
              <p>
                {{p.description}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button id='tooltip-{{p.code}}' (click)='copy($event, p.code)'>Copy</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>

      <div *ngIf='isPartnersEmpty'>
        <h6 class='subtitle'> No promo codes yet :(
        </h6>
      </div>
    </div>
  </div>
</div>