<app-loading [content]="speakers && speakers.length > 0"></app-loading>

<section *ngIf="speakers && speakers.length > 0" id="speakers" class="section align-center">

  <div class="container">
    <span class="icon section-icon icon-faces-users-03"></span>
    <h3 (click)="isCollapsed = !isCollapsed" *ngIf="!previousSpeakers && speakers.length > 0">Previous Speakers<mat-icon
        [class.chev-open]="!isCollapsed" [class.chev-close]="isCollapsed" class="cursor-pointer">
        expand_more
      </mat-icon>
    </h3>
    <p *ngIf="!previousSpeakers && speakers.length > 0" style="text-align: center">Check out our wonderful speakers,
      primed and ready to tell their
      stories and give you their advice. Don't miss their keynotes!</p>
    <h3 (click)="isCollapsed = !isCollapsed" *ngIf="previousSpeakers && speakers.length > 0">Previous Speakers<mat-icon
        [class.chev-open]="!isCollapsed" [class.chev-close]="isCollapsed">
        expand_more
      </mat-icon>
    </h3>
    <br />
    <br />

    <span *ngIf="speakers.length > 0 && !isCollapsed" @myInsertRemoveTrigger class="align-center">
      <div class="col-sm-12">
        <app-loading [content]="speakers">
        </app-loading>
      </div>

      <div class="speakers">

        <!-- <div *ngFor="let speaker of speakers" class="col-sm-3" (click)="onSelect(speaker)">
          <div class="speaker">
            <div class="photo-wrapper square">
              <div class="view view-first" [ngStyle]="setCompanyImg(speaker)">
                <img appImage [url]="speaker.img" alt="{{ speaker.name }}" title="{{ speaker.name }}"
                  class="img-responsive">
              </div>
            </div>
            <h3 class="name">{{ speaker.name }}</h3>
            <p class="text-alt" style="word-wrap:anywhere">
              <small>{{ speaker.title }}</small>
            </p>
          </div>
        </div> -->

        <div *ngFor="let speaker of speakers" (click)="onSelect(speaker)" style="margin: 2%;">
          <mat-card class="example-card cursor-pointer" (click)="onSelect(presentation)" style="padding: 5%">
            <h6 class="name">{{ speaker.name }}</h6>
            <mat-card class="speaker-card"
              [ngStyle]="{'background-image': speaker.img? 'url('+speaker.img+')' : 'url(https://static.sinfo.org/static/25-sinfo/speakers/hacky.png)' }">
            </mat-card>
            <div class="text-alt description">
              <small>{{ speaker.title }}</small>
            </div>
          </mat-card>

          
          <!-- <h6 class="name">{{ speaker.name }}</h6>
          <mat-card class="example-card speaker-card member"
            [ngStyle]="{'background-image': speaker.img? 'url('+speaker.img+')' : 'url(https://static.sinfo.org/static/25-sinfo/speakers/hacky.png)' }">

          </mat-card>
          <p class="text-alt" style="word-wrap:anywhere; ">
            <small>{{ speaker.title }}</small>
          </p>
          <p class="divider"></p> -->
        </div>

      </div>

    </span>

  </div>
</section>