.title {
  text-align: center;
}

.subtitle {
  text-align: center;
  font-style: italic;
}

h3.title {
  margin-top: 30px;
}

h6.lead {
  margin-top: 20px;
}
h4.weekDay {
  font-size: 35px;
  margin-top: 25px;
  font-weight: 200;
}

@media (max-width: 767px) {
  h4.weekDay {
    text-align: center;
  }
  .workshop-wrapper {
    width: 100%;
    margin-left: auto;
    font-size: 10px;
  }
}
