<div class="col-sm-12" *ngIf="workshop">
  <div class="well well-sm workshop-wrapper" [ngClass]="{'workshop-collapsed': isRegistrationClosed }">
    <div class="img-wrapper col-sm-2">
      <img src="{{workshop.img}}" alt="{{workshop.name}}" title="{{workshop.name}}">
    </div>
    <div class="info-wrapper col-sm-10">
      <h4 class="name">{{workshop.name}}</h4>
      <div class="session-details">
        <div *ngIf="workshop.date" class="padded">
          <p>
            <i class="fa fa-calendar"></i> {{workshop.date | date:'fullDate':'+0001'}}
          </p>
        </div>
        <div *ngIf="workshop.date" class="padded">
          <p>
            <i class="fa fa-clock-o"></i> {{workshop.date | date:'shortTime':'+0001'}}
          </p>
        </div>
        <div *ngIf="workshop.duration" class="padded">
          <p>
            <i class="fa fa-clock-o"></i> {{workshop.duration | date:'h:mm':'+0001'}}
          </p>
        </div>
        <div *ngIf="workshop.place">
          <p>
            <i class="fa fa-map-marker"></i> {{workshop.place}}
          </p>
        </div>
      </div>
      <div class="hidden">
        <app-workshop-register-button (onRegistrationClosed)="onRegistrationClosed($event)" [user]="user"
          [workshop]="workshop"></app-workshop-register-button>
      </div>
      <div class="col-sm-12" *ngIf="ticket">
        <p>
          <b>{{ ticket.users.length }} of {{ workshop.tickets.max }}</b>
          <mat-progress-bar mode="determinate" value="{{count}}">
          </mat-progress-bar>
        </p>
      </div>
      <div class="col-sm-12" *ngIf="!ticket">
        <p>
          <b>{{ 0 }} of {{ workshop.tickets.max }}</b>
          <mat-progress-bar mode="determinate" value="0">
          </mat-progress-bar>
        </p>
      </div>
      <div class="col-sm-12 align-center">
        <a class="btn btn-info" style="font-family: 'PT Sans Caption'" href="mailto:?bcc={{ userMails.toString() }}">
          Email Attendees
        </a>
      </div>
    </div>
  </div>
</div>