<app-menu></app-menu>

<app-loading [content]="allWorkshopsFrontend"></app-loading>

<div *ngIf="allWorkshopsFrontend">
  <div *ngIf="myWorkshopsFrontend.length !== 0">
    <h3 class="title">My Workshops</h3>
  </div>

  <div class="row" *ngFor="let workshopsOfTheDay of myWorkshopsFrontend">
    <div class="col-sm-12" *ngIf="workshopsOfTheDay.date">
      <h4 class="weekDay">{{workshopsOfTheDay.date | date:'EEEE':'+0000'}}</h4>
    </div>
    <app-workshop *ngFor="let workshop of workshopsOfTheDay.workshops" [user]="user" [workshop]="workshop"
      (isReserved)="isReserved($event, workshop)"></app-workshop>
  </div>

  <h3 class="title">Workshops</h3>

  <div class="row" *ngFor="let workshopsOfTheDay of allWorkshopsFrontend">
    <div class="col-sm-12" *ngIf="workshopsOfTheDay.date">
      <h4 class="weekDay">{{workshopsOfTheDay.date | date:'EEEE':'+0000'}}</h4>
    </div>
    <app-workshop *ngFor="let workshop of workshopsOfTheDay.workshops" [user]="user" [workshop]="workshop"
      (isReserved)="isReserved($event, workshop)"></app-workshop>
  </div>
</div>