<app-menu *ngIf="isAllSponsors"></app-menu>

<app-loading [content]="sponsors"></app-loading>

<div *ngIf="sponsors && sponsors.length > 0">
  <div class="overallSponsors">
    <span class="icon section-icon icon-documents-bookmarks-12"></span>
    <h3>Sponsors</h3>
    <p style="text-align: center">Get to know our amazing sponsors, who make it all possible!</p>
    <br />

    <app-loading [content]="sponsors"></app-loading>

    <div class="sponsor-level" *ngIf="sponsors">
      
      <h5>Platinum Sponsors</h5>
      <div class="row" *ngIf="platinums.length">
        <mat-card class="example-card speaker-card platinum cursor-pointer" *ngFor="let platinum of platinums"
          (click)="onSelect(platinum)" [ngStyle]="{'background-image': 'url(' + platinum.img + ')' }">
        </mat-card>
      </div>
      <br />

      <h4 (click)="show()">See more
        <mat-icon [class.chev-open]="showAll" [class.chev-close]="!showAll" class="cursor-pointer">
          expand_more
        </mat-icon>
      </h4>
      <br />

      <div *ngIf="showAll" @myInsertRemoveTrigger class="sponsor-level">
        <hr>
        <h5>Gold Sponsors</h5>
        <div class="row" *ngIf="golds.length">
          <mat-card class="example-card speaker-card gold cursor-pointer" *ngFor="let gold of golds" (click)="onSelect(gold)"
            [ngStyle]="{'background-image': 'url(' + gold.img + ')' }">
          </mat-card>
        </div>

        <hr>
        <h5>Silver Sponsors</h5>
        <div class="row" *ngIf="silvers.length">
          <mat-card class="example-card speaker-card silver cursor-pointer" *ngFor="let silver of silvers" (click)="onSelect(silver)"
            [ngStyle]="{'background-image': 'url(' + silver.img + ')' }">
          </mat-card>
        </div>

      </div>
    </div>

    <div *ngIf="!sponsors || sponsors.length == 0" class="sponsors">

      <div class="container">
        <span class="icon section-icon icon-documents-bookmarks-12"></span>
        <h3>We are still looking for sponsors for our next edition!</h3>
        <h5>If you want to participate, contact us through <a href="mailto:geral@sinfo.org">geral@sinfo.org</a></h5>
        <br />
      </div>
    </div>
  </div>
</div>