.wrapper {
  margin: 10vh 5vh 0;
  width: 100%;
}

.sponsors {
  padding: 0 4vw 0 4vw;
  text-align: center;
}

.overallSponsors {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

div.sponsors {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  min-width: 100%;
  margin-bottom: 5%;
}

@media (max-width: 767px) {

  .chev-open,
  .chev-close {
    font-size: 9vw;
  }


}

@media (max-width: 480px) {

  .chev-open,
  .chev-close {
    font-size: 9vw;
  }


}

h1,
h2 {
  margin: 0px;
}

.show {
  width: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.chev-open {
  position: absolute;
  line-height: 1.2;
  font-size: 50px;
  width: auto;
  height: auto;
  transition: 0.3s transform ease-in-out;
  transform: rotate(180deg);
}

.h3 {
  display: flex;
  justify-content: center;
}

.chev-close {
  line-height: 1.2;
  position: absolute;
  font-size: 50px;
  width: auto;
  height: auto;
  transition: 0.3s transform ease-in-out;
  transform: rotate(0);
}

.speaker-card {
  color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 2%;
}

.example-card {
  transition: all .1s linear;
  box-shadow: 0px 1px 2px 0px rgba(26, 11, 82, 0.4);
}

.example-card:hover {
  box-shadow: -1px 10px 29px 0px rgba(26, 11, 82, 0.4);
}

.row {
  display: flex;
  margin-left: 0;
  margin-right: 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.platinum {
  height: 20vh;
  width: 20vh;
}

.gold {
  height: 15vh;
  width: 15vh;
}

.silver {
  height: 10vh;
  width: 10vh;
}

.sponsor-level {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 925px) {

  .chev-open,
  .chev-close {
    font-size: 9vw;
  }
}

*:not(mat-icon) {
  font-family: 'Montserrat' !important;
}