<app-menu *ngIf="isAllSponsors"></app-menu>

<app-loading [content]="sponsors"></app-loading>

<div *ngIf="sponsors && sponsors.length > 0" class="wrapper">
  <div class="overallSponsors">
    <span class="icon section-icon icon-documents-bookmarks-12"></span>
    <h3 (click)="show()">Sponsors<mat-icon [class.chev-open]="showAll" [class.chev-close]="!showAll">
        expand_more
      </mat-icon></h3>
    <br />

    <app-loading [content]="sponsors"></app-loading>

    <div *ngIf="sponsors">

      <div class="sponsor diamond" *ngIf="diamond">
        <img appImage [url]="diamond.img" alt="{{ diamond.name }}" title="{{ diamond.name }}"
          onerror="this.src='https://sinfo.ams3.digitaloceanspaces.com/static/25-sinfo/speakers/hacky.png'">
      </div>

      <hr>

      <div class="row" *ngIf="platinums.length">
        <div class="sponsors platinum">
          <div class="sponsor" *ngFor="let platinum of platinums">
            <img appImage [url]="platinum.img" alt="{{ platinum.name }}" title="{{ platinum.name }}"
              onerror="this.src='https://sinfo.ams3.digitaloceanspaces.com/static/25-sinfo/speakers/hacky.png'">
          </div>
        </div>
      </div>

      <div *ngIf="showAll" @myInsertRemoveTrigger>
        <hr>

        <div class="row" *ngIf="golds.length">
          <div class="sponsors gold">
            <div class="sponsor" *ngFor="let gold of golds">
              <img appImage [url]="gold.img" alt="{{ gold.name }}" title="{{ gold.name }}"
                onerror="this.src='https://sinfo.ams3.digitaloceanspaces.com/static/25-sinfo/speakers/hacky.png'">
            </div>
          </div>
        </div>

        <hr>

        <div class="row" *ngIf="silvers.length">
          <div class="sponsors silver">
            <div class="sponsor" *ngFor="let silver of silvers">
              <img appImage [url]="silver.img" alt="{{ silver.name }}" title="{{ silver.name }}"
                onerror="this.src='https://sinfo.ams3.digitaloceanspaces.com/static/25-sinfo/speakers/hacky.png'">
            </div>
          </div>
        </div>

      </div>

      <!-- <div class="show">
        <button *ngIf="!showAll" class="btn btn-outline-clr btn-sm" (click)="show()">
          See more
        </button>
      </div>
    </div> -->

    </div>

    <div *ngIf="!sponsors || sponsors.length == 0" class="sponsors">

      <div class="container">
        <span class="icon section-icon icon-documents-bookmarks-12"></span>
        <h3>We are still looking for sponsors for our next edition!</h3>
        <h5>If you want to participate, contact us through <a href="mailto:geral@sinfo.org">geral@sinfo.org</a></h5>
        <br />
      </div>
    </div>
  </div>