.buttons {
    text-align: center;
}

.button {
    border-radius: 4px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    padding: 10px 14px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.button-facebook {
    background: #48649F;
}

.button-facebook:hover {
    background: #3a5287;
}

.button-google {
    background: #DD4B39;
}

.button-google:hover {
    background: #c43421;
}

.button-fenix {
    background: #19ACCD;
}

.button-fenix:hover {
    background: #1698b6;
}

.buttons .button {
    border: 0px;
    color: #fff;
    margin: 5px;
}
