<app-menu></app-menu>

<section class="section">
  <div class="container">
        <span class="icon section-icon fa fa-sign-in align-center"></span>
        <h3 class="align-center">Login</h3>
        <br />
        <br />
        
        <div class="buttons">
            <div class="button button-facebook">
                <span class="fa fa-facebook" style="color:white"></span> 
                <span>Login with facebook</span>
            </div>
            <div class="button button-google">
                <span class="fa fa-google" style="color:white"></span> 
                <span>Login with google</span>
            </div>
            <div class="button button-fenix">
                <span class="fa fa-graduation-cap" style="color:white"></span> 
                <span>Login with fenix</span>
            </div>
        </div>
  </div>
</section>
