button {
  width: 100%;
  letter-spacing: .15em;
  padding: 13px;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.dropdown-menu {
  width: 100%;
  margin: 0px;
  position: initial !important;
}