<app-loading [content]="myCompany"></app-loading>


<div class="wrapper pad" *ngIf="myCompany">

  <div>
    <h3 class="title">Speed Date Signature</h3>
  </div>

  <div class='align-center'>
    <div *ngIf="!userRead">
      <p>Insert the ID of the attendee in the text box below or scan the QR code by switching input</p>
    </div>
    <app-qrcode-scanner *ngIf="cam" (userReadOutput)="receiveUser($event)" [camStarted]="scannerActive" [title]="">
    </app-qrcode-scanner>

    <div class="column" *ngIf="!cam && !userRead">
      <h6>Attendee ID:</h6>
      <div class="input-group mb-3">
        <input [(ngModel)]="userId" type="text" class="form-control" placeholder="ID" aria-label="Attendee ID"
          aria-describedby="basic-addon1">
      </div>
      <button class="btn btn-success" [disabled]="userId.length === 0" (click)="submit()">Submit</button>
    </div>

    <div class="row" *ngIf='!userRead'>
      <div class="btn btn-primary" (click)="toggleCam()">Switch Input</div>
    </div>

    <div *ngIf="userRead" class='wrapper'>

      <div *ngIf='!yesToLink' class='full-width'>

        <p>User was signed into speed date with success! You can link the user to you or sign another one.</p>

        <div class="row">
          <div class="col-xs-12">
            <button type="button" class="btn btn-button rescan" (click)="toLink()">
              <span>Link</span>
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <button type="button" class="btn btn-button" (click)="reScan()">
              Sign another user
            </button>
          </div>
        </div>

      </div>

      <div *ngIf='yesToLink' class='full-width'>

        <p>You can store here user information.</p>

        <div class="row">
          <div class="col-xs-12">
            <textarea [(ngModel)]="notes.contacts.email" class="form-control" placeholder="Attendee email">
            </textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <textarea [(ngModel)]="notes.contacts.phone" class="form-control" placeholder="Attendee phone number">
            </textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <textarea [(ngModel)]="notes.interestedIn" class="form-control" placeholder="Attendee's interests">
            </textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <textarea [(ngModel)]="notes.degree" class="form-control" placeholder="Attendee's degree">
            </textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <textarea [(ngModel)]="notes.availability" class="form-control" placeholder="Attendee's avaliability">
            </textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <textarea [(ngModel)]="notes.otherObservations" class="form-control"
              placeholder="Insert your other observations here">
            </textarea>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <button routerLink="/user/links/my-links" type="button" class="btn btn-button rescan" (click)="link()">
              <span class="glyphicon glyphicon-link"></span> Link
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-button" (click)="reScan()">
              <span class="glyphicon glyphicon-pencil"></span>
              {{
              cam ? 'Rescan' : 'Insert another ID'
              }}
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>