button.btn-success {
  background-color: #14A44D !important;
}
button.btn-danger {
  background-color: #d9534f !important;
}
button.btn-disabled {
  background-color: #51545b !important;
}

.register-button {
  color: white !important;
}

button.getTicket span i{
  color: white;
  padding: 0;
  margin: 0;
}

div.waiting-alert {
  padding: 7px;
  margin-bottom: 5px;
  font-size: 14px;
}
