<app-loading [content]="workshop"></app-loading>

<div class="row" *ngIf="workshop">
  <div class="well well-sm workshop-wrapper" [ngClass]="{'workshop-collapsed': isRegistrationClosed }">
    <div class="img-wrapper col-sm-4 col-md-2">
      <img src="{{workshop.img}}" alt="{{workshop.name}}" title="{{workshop.name}}">
    </div>
    <div class="info-wrapper col-sm-8 col-md-6">
      <h4 class="name">{{workshop.name}}</h4>
      <div class="session-details">
        <div *ngIf="workshop.date" class="padded">
          <p>
            <i class="fa fa-calendar"></i> {{workshop.date | date:'fullDate':'+0100'}} </p>
        </div>
        <div *ngIf="workshop.date" class="padded">
          <p>
            <i class="fa fa-clock-o"></i> {{workshop.date | date:'shortTime':'+0100'}} </p>
        </div>
        <div *ngIf="workshop.duration" class="padded">
          <p>
            <i class="fa fa-clock-o"></i> {{workshop.duration | date:'h:mm':'+0000'}} </p>
        </div>
        <div *ngIf="workshop.place">
          <p>
            <i class="fa fa-map-marker"></i> {{workshop.place}} </p>
        </div>
      </div>
      <div class="description-wrapper" *ngIf="workshop.description && !isRegistrationClosed">
        <p class="description" *ngIf="showMore || workshop.description.length <= 230">
          {{ workshop.description }}
          <span *ngIf="showMore" (click)="showMore = !showMore" class="seeMore">
            <b> see less </b>
          </span>
        </p>
        <p class="description" *ngIf="!showMore && workshop.description.length > 230">
          {{ showMore ? workshop.description : ( workshop.description | slice:0:230 ) }}
          <span *ngIf="!showMore" (click)="showMore = !showMore" class="seeMore">
            <b>... see more </b>
          </span>
        </p>
      </div>
    </div>
    <div class="button-wrapper col-sm-6 col-md-3 align-center">
      <app-workshop-register-button (isReserved)="hasTicket($event)"
        (onRegistrationClosed)="onRegistrationClosed($event)" [user]="user" [workshop]="workshop">
      </app-workshop-register-button>
    </div>
  </div>
</div>