<div class="wrapper pad">
  <app-qrcode-scanner (rawOutput)="receiveRedeemCode($event)" [camStarted]="scannerActive" [title]="title"
    [processUser]="processUser" class="camera">
  </app-qrcode-scanner>

  <!-- <div class="head-description" *ngIf="!isCamOn">
    <h3 class="title mb-1">{{ title }}</h3>
    <p>Insert the ID of the secret achievement in the text box below or scan the QR code by switching input</p>
  </div>

  <div class="column" *ngIf="!isCamOn">
    <h6>Achievement ID:</h6>
    <div class="input-group mb-3">
      <input [(ngModel)]="redeemCode" type="text" class="form-control" placeholder="ID" aria-label="Achievement ID"
             aria-describedby="basic-addon1">
    </div>

    <button class="btn btn-success" [disabled]="!redeemCode" (click)="receiveRedeemCode()">Submit</button>
  </div>

  <div class="column">
    <button class="btn btn-warning"  (click)="toggleInputMethod()">{{ isCamOn ? 'Write Achievement ID' : 'Use Camera' }}</button>
  </div> -->
</div>