<h2 mat-dialog-title>SINFO's Webapp Data Privacy Policy</h2>
<mat-dialog-content class="mat-typography">

  <p>By submitting you Curriculum Vitae on our platform, you are agreeing to:</p>
  <ul>
    <li>It being distributed to our sponsors;</li>
    <li>Potentially being contacted by our sponsors regarding your information;</li>
    <li>Your data being processed by the SINFO staff.</li>
  </ul>
  <p>
    We are compliant with the GDPR. Your data will be securely stored during the event
    and deleted after being distributed to our sponsors.
    If you have any questions please contact us at <a href="mailto:geral@sinfo.org">geral@sinfo.org</a>.

  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
