<section *ngIf="show" id="feedback" class="section align-center" style="padding-top: 25px">
  <div class="container">
    <span class="icon section-icon icon-badges-votes-10"></span>
    <h3>Testimonials</h3>
    <br />
    <br />
    <div class="row">
      <div class="col-sm-4">
        <div class="testimonial">
          <article class="text-box">This was one of the best organized conferences I've ever been to. The audience, speakers and organizers were all
            amazing.
          </article>
          <div class="author-block">
            <div class="photo-container" style="background-image: url(https://static.sinfo.org/SINFO_22/speakers/scott-chacon.png)"></div>
            <strong class="name">Scott Chacon</strong>
            <small class="text-alt company">Co-founder @ GitHub</small>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="testimonial">
          <article class="text-box" style="font-size: 14px">Easily the best student-organized conference I've been to. Everyone was excited to be there, which made for a great
            conference.
          </article>
          <div class="author-block">
            <div class="photo-container" style="background-image: url(https://static.sinfo.org/SINFO_24/speakers/JobvanderVoort.jpg)"></div>

            <strong class="name">Job van der Voort</strong>
            <small class="text-alt company">VP of Product @ GitLab</small>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="testimonial">
          <article class="text-box">Outstanding conference. Great venue. Great questions from the audience. Must attend event for anyone in computer
            science.
          </article>
          <div class="author-block">
            <div class="photo-container" style="background-image: url(https://static.sinfo.org/SINFO_24/speakers/AndreMcGregor.jpg)"></div>

            <strong class="name">Andre McGregor</strong>
            <small class="text-alt company">Director of Security @ Tanium Inc.</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
</section>