<section *ngIf="show" id="feedback" class="section align-center" style="padding-top: 25px">
  <div class="container">
    <span class="icon section-icon icon-badges-votes-10"></span>
    <h3>Testimonials</h3>
    <br />
    <br />
    <div class="row">
      <div class="col-sm-4">
        <div class="testimonial">
          <article class="text-box">
              SINFO is a terrific conference. The team develops a week of highly interesting speakers covering a broad spectrum of topics.
          </article>
          <div class="author-block">
            <div class="photo-container" style="background-image: url(https://static.sinfo.org/static/27-sinfo/webapp/erik-smitt.jpg)"></div>
            <strong class="name">Erik Smitt</strong>
            <small class="text-alt company">Director of Photography @ Pixar Animation Studios</small>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="testimonial">
          <article class="text-box">
              The SINFO conference team is top notch, amazing that it is all student run! From organizational efficiency to speaker quality to level of technical content - SINFO is one of the better tech conferences I've been to.
          </article>
          <div class="author-block">
            <div class="photo-container" style="background-image: url(https://static.sinfo.org/static/27-sinfo/webapp/diana-kelley.jpg)"></div>

            <strong class="name">Diana Kelley</strong>
            <small class="text-alt company">Cybersecurity Field CTO @ Microsoft</small>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="testimonial">
          <article class="text-box">
              SINFO is an undergrad-run conference at IST in Lisbon that brings industry folks in to talk about their jobs. It’s an awesome thing. More schools should do it!
          </article>
          <div class="author-block">
            <div class="photo-container" style="background-image: url(https://static.sinfo.org/static/27-sinfo/webapp/ben-kehoe.jpg)"></div>

            <strong class="name">Ben Kehoe</strong>
            <small class="text-alt company">Cloud Robotics Research Scientist @ iRobot</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
</section>