.wrapper {
    display: flex;
    align-items: stretch;
    min-height: 87vh;
    overflow-y: scroll;
}

.align-center {
    width: 100%;
}

#content {
    padding: 20px;
    transition: all 0.3s;
    width: 100%;
    height: 90vh;
    margin-bottom: 30px;
}

.partners-title {
    margin: 0 0 20px 0;
}

.subtitle{
    font-weight: 300;
    line-height: 1.4;
    font-size: 21px;
}

h3 {
    margin: 20px auto;
}

.align-center{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.cards {
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    max-width: 66vw;
}

.card-wrapper {
    margin: 1vw;
    height: 20vw;
    width: 20vw;
    max-width: 500px;
    max-height: 500px;
    perspective: 1000px;
}

.card-wrapper:hover{
    cursor: pointer;
}

.card{
    background: #2C49A6;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card-img-wrapper, .code-description{
    background: white;
    width: 100%;
    height: 12vw;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    border-radius: 15px;
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.code-description{
    color: black;
    font-size: 2vw;
}

.card-img{
    max-width: 90%;
    max-height: 75%;
}

.tooltip{
    width:40%;
    background-color: black;
    color: white;
    border-radius: 10px;
    display: block;
    position: absolute;
    transform: translateY(18vw);
    font-size: 1vw;
    transition: 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-text{
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 15px;
    background: white;
    font-size: 2vw;
    color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.card-front, .card-back{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 5%;
    position: absolute;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.card-back{
    transform: rotateY(180deg);
}

@media (max-width: 765px){
    .card-wrapper{
        height: 50vw;
        width: 50vw;
        margin: 5vw;
    }

    .card-img-wrapper, .code-description{
        height: 35vw;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-bottom: 1vh;
    }

    .code-description{
        font-size: 4vw;
    }

    .card-text{
        margin-left: 5vw;
        margin-right: 5vw;
        font-size: 4vw;
        border-radius: 10px;
    }

    .cards{
        max-width: 60vw;
    }

    .tooltip{
        transform: translateY(45vw);
        height: 5vw;
        font-size: 3vw;
    }
}