<app-menu></app-menu>

<app-loading [content]="partners"></app-loading>

<div class="wrapper" *ngIf="partners">

  <app-sidebar [user]="currentUser"></app-sidebar>

  <div id="content" class="content container-fluid my-area-content">
    <div class="align-center">

      <div class="row">
        <div class="col-sm-12">
          <h3 class="partners-title">
            Partners
          </h3>
          <h6 class='subtitle'> Click a card to view the code!
          </h6>
          <h6 class='subtitle'>Click the code to copy it!</h6>
        </div>
      </div>

      <div class="row" *ngIf='partners'>
        <div class="col-sm-12">
          <div class="cards">
            <div class="card-wrapper" *ngFor="let p of partners; let i = index" (click)='flip(i)'>
              <div class='card' id='{{i}}'>
                <div class='card-front'>
                  <div class='card-img-wrapper'>
                    <img src='{{p.img}}' class='card-img'>
                  </div>
                  <div class='card-text'>{{p.name}}</div>
                </div>
                <div class='card-back'>
                  <div class='code-description'>{{p.description}}</div>
                  <div class='card-text' (click)='copy($event, p.code)'>
                    <b>{{p.code}}</b>
                  </div>
                  <div id='tooltip-{{p.code}}' class='tooltip' style='opacity: 0;'>Copied!</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>