<!--
<ngx-qrcode [qrc-value]="id" [qrc-version]=5 [qrc-correction-level]="'M'"></ngx-qrcode>
-->
<app-menu></app-menu>

<!--
<div class="video-wrapper">
    <video id="preview"></video>
</div>

<button (click)="scan()"> SCAN ME PLS

</button> 

-->

<!--<ack-webcam
  [(ref)]   = "webcam"
  [options] = "options"
  (success) = "onCamSuccess($event)"
  (catch)   = "onCamError($event)"
></ack-webcam>

<button (click)="genBase64()"> generate base64 </button>
<button (click)="genPostData()"> generate post data </button>-->

<ngx-zxing
    [start]="camStarted"
    [device]="selectedDevice"
    [cssClass]="'small-video'"
    (camerasFound)="displayCameras($event)"
    (scanSuccess)="handleQrCodeResult($event)"
></ngx-zxing>
