.speaker-section {
    padding: 55px 20px 0px;
}

.speaker-section img {
    border-radius: 50%;
}

.speaker-section h1 {
    font-size: 45px;
    margin: 10px;
}

.speaker-section .description {
    margin: 4em;
    text-align: left;
}

.speaker-section .description h3 {
    font-size: 24px;
}

.speaker-section .description p {
    line-height: 1.45;
    white-space: pre-line;
}

.speaker-section .session {
    margin: 25px 0px;
    background-color: #0278ab;
    padding: 20px;
    cursor: pointer;
    opacity: 0.8;
}

.speaker-section .session h2 {
    font-size: 28px;
    font-weight: 400;
    color: white;
}

.speaker-section .session h3 {
    font-size: 28px;
    color: white;
}

.speaker-section .session i {
    font-size: 16px;
    color: white;
}

.speaker-section .session i span{
    padding-left: 5px;
}