.session {
  padding: 20px;
  cursor: pointer;
}

.session h2 {
  font-size: 24px;
  font-weight: 200;
  color: #262627;
  margin-bottom: 10px;
}

.session h3 {
  font-size: 28px;
  font-weight: 100;
  color: #008ae6;
  margin-bottom: 15px;
}

a {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

p {
  font-size: 15px;
}

.speaker-section {
  padding: 20px 20px;
  display: flex;
  align-items: center;
}

.speaker-section img {
  border-radius: 15px;
}

.speaker-section h5 {
  margin: 15px auto;
}

.session-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.session-details i {
  color: #008ae6;
}

.session-details i span {
  margin: 0 5px;
}

.session-details div.padded {
  padding: 0 10px;
}

.session-details span {
  font-family: "Roboto", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

@media (max-width: 767px) {
  .speaker-section {
    display: block;
  }

  .speaker-section h5 {
    text-align: center;
  }

  #speaker-name {
    margin-bottom: 5px;
  }

  h3.title {
    font-size: 40px;
  }

  .session-details p {
    margin-bottom: 2px;
  }
}

.socials-nav-item a:not(:hover):not(:active):not(:focus) {
  color: lightgray;
}

.topbar {
  display: flex;
  background-color: black;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  min-height: 64px;
  height: fit-content;
}

.sidenav-container {
  height: calc(100% - 7vh);
}

.sidenav {
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  height: min-content;
  width: max-content;
}

.sidenav::-webkit-scrollbar {
  display: none;
}

.navigation-item {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-mdc-list-item:not(.active):not(:hover) {
  color: white !important;
}

#sidenav ul li a i,
#sidenav ul li a img {
  max-height: 4vh;
}

.list-item {
  margin-left: 1vw;
}

.navigation-link {
  font-size: 1.5vh;
  font-family: 'Montserrat';
}

.navlist {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.social-menu {
  display: auto;
  margin-left: auto;
}

.tool-row {
  display: flex;
  box-sizing: border-box;
  padding: 8px 16px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  justify-content: space-between;
}


.dropdown-content {
  background-color: black;
  color: lightgrey;
  font-size: 1.5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0 16px;
}

.expandable {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

*:not(.fa) {
  font-family: 'Montserrat' !important;
}