.wrapper {
  display: flex;
  align-items: stretch;
  min-height: 87vh;
}

#content {
  padding: 20px;
  transition: all 0.3s;
  width: 100%;
  margin-bottom: 30px;
  
}
h3.title {
  margin-bottom: 30px;
}
h6.lead {
  margin-bottom: 40px;
}
div.table-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.scoreboard-section span#icon {
  font-size: 50px;
  margin-bottom: 20px;
  color: #048ae6;
}
.scoreboard-section .alert-info strong{
  cursor: pointer;
}
.scoreboard-section table {
  width: 75%;
  text-align: center;
  font-size: 16px;
}
.scoreboard-section table tr.currentUser {
  background-color: #d9edf7;
}
.scoreboard-section table tr.currentUser td {
  border-color: #bce8f1;
}
.scoreboard-section table th {
  text-align: center;
}
.scoreboard-section table td {
  cursor: pointer;
}
.scoreboard-section table td.position {
  width: 20px;
}
.scoreboard-section table td.user {
  display: flex;
  justify-content: center;
  padding: 8px;
}
div.user-wrapper {
  padding: 0 !important;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
.scoreboard-section table td.user div.img-wrapper {
  display: flex;
  align-items: center;
  padding-right: 20px;
}
.scoreboard-section table td.user img {
  width: 40px;
  border-radius: 50%;
  max-width: none;
}
.scoreboard-section span.userNotInTop {
  font-size: 20px;
  margin-bottom: 20px;
  display: block;
}
.scoreboard-section table.userNotInTop td.position {
  font-size: 30px;
}
@media (max-width: 768px) {
  .scoreboard-section table {
    width: 100%;
  }
  div.user-wrapper {
    width: 100%;
  }
}