.wrapper, .align-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.form-control {
    width: 95%;
    margin: 5px auto;
}

.link-warning h6 {
    color: #018ae6;
}

.btn-default:focus {
    color: #333;
    background-color: #fff;
    border-color: #ccc
}

.btn-warning {
  background-color: #eea236;
  border-color: #eea236;
}

.btn-danger {
    background-color: #d9534f;
    border-color: #d9534f;
}

.full-width{
    width: 100%;
}

.form-control {
    font-size: 20px;
    width: 100%;
    margin: auto;
}

.col-xs-12 {
    margin-left: 0;
    margin-right: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

button {
    width: 100%;
    letter-spacing: .15em;
    padding: 13px;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.rescan {
    background-color: #449d44 !important;
    border-color: #449d44 ;
}

.row button {
  width: 95%;
  margin: 5px auto;
}

.title{
  flex-grow: 2;
}

.column{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 3;
  width: 30vw;
}

.mb-3{
  width: 100%;
}

.row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-danger {
  background-color: #d9534f;
  border-color: #d9534f;
}

/*IMAGE============*/

.center{
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  text-align: center;
}

.vertical{
  flex-direction: column;
}

.limit-width{
  width: 100%;
}

@media(max-width: 975px){
  .limit-width{
      max-width: 73vw;
  }
}

img.portrait {
  border-radius: 50%;
  border: 3px solid #048ae6;
}

#image-wrapper {
  display: flex;
}

div.portrait-wrapper {
  margin: 10px auto;
  position: relative;
}

div.mini-portrait-wrapper {
  position: absolute;
  width: 40%;
  height: 40%;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background-color: rgba(255,255,255, 1);
  border: 3px solid #048ae6;
  padding: 10px;
}
div.mini-portrait-wrapper img {
  width: 100%;
}

.sinfo-logo {
  height: 30px;
}

.mini-image{
  border-radius: 50%;
}

.mini-image:before{
  content: "";
  display: block;
  padding-top: 100%;
}

.link-button {
  background-color: #14A44D !important;
  color: white !important;
}

.info {
  font-size: 16px !important;
}

.form-field {
  width: 100%;
  height: 100px;
}

.full-height {
  height: 100%;
}

.big-margin {
  margin-top: 350px !important;
}

.warn-color {
  background-color: #F44A3E !important;
  color: white !important;
}

.primary-color {
  background-color: #4758B8 !important;
  color: white !important;
}
