.sessions-wrapper {
    display: flex;
    flex-direction: column;
}
.submit {
  width: 95%;
  margin: auto;
  margin-top: 10px;
}

.session {
    text-align: left;
}
button.btn {
  padding: 13px;
  letter-spacing: 2px;
  font-size: 14px;
  font-family: "PT Sans";
}
.workshop-wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
span.seeMore:hover {
  color: #008ae6;
  cursor: pointer;
}
.img-wrapper{
  margin: 20px;
  width: 150px;
  overflow: hidden;
}
.user-spanner{
  margin-bottom: 3px;
  position: absolute;
  z-index: 5;
  width: 90%;
}
h4.name {
  font-size: 25px;
  font-weight: 400;
}
.session-details {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}
.session-details i {
  color: #008ae6;
}
.session-details p {
  line-height: 21px;
}
.session-details i span {
  margin: 0 5px;
}
.session-details div.padded {
  padding-right: 10px;
}
.session-details span {
  font-family: "Roboto", "Helvetica Neue", Arial, Helvetica, sans-serif;
}
p.description {
  text-align: justify;
}
div.workshop-wrapper.workshop-collapsed {
  border: 1px solid #ccc;
  opacity: 0.5;
}
div.img-wrapper {
  height: 80px;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 0px;
}
div.img-wrapper img {
  postion: absolute;
  overflow: hidden;
  width: 100%; 
}
@media (max-width: 767px) {
  h4.name {
    font-size: 22px;
    text-align: center;
    font-weight: 200;
  }
  p.description {
    margin-top: 10px;
  }
  .img-wrapper{
    margin: 0px;
  }
  .session-details {
    align-items: center;
    justify-content: center;
  }
  .session-details p {
    margin-bottom: 2px;
  }
  .workshop-wrapper {
    flex-direction: column;
  }
}
