<app-loading [content]="sessions"></app-loading>

<div class="align-center pad wrapper" *ngIf="sessions" style="height: 100%">
  <div class="row">
    <h3>Check in {{(selectedSession ? " to " + selectedSession.kind : "" )}}</h3>
    <h6 class='subtitle' *ngIf="!selectedSession">All dates are in UTC format</h6>
  </div>

  <div *ngIf="selectedSession">
    <div>
      <h4 class="name">Session: {{selectedSession.name}}</h4>
    </div>

    <app-qrcode-scanner (userReadOutput)="receiveUser($event)" [camStarted]="scannerActive" [title]="title"
      [buttonLabel]="submitLabel" (buttonAction)="submit($event)" [insideScannerMsg]="insideScannerMsg">
    </app-qrcode-scanner>

    <div class="row destroy">
      <h4>Unregistered Users</h4>
      <div class='unregistered'>
        <button class='btn btn-button' (click)="updateUnregistered(-1)">-</button>
        <div class='box'>{{unregistered}}</div>
        <button class='btn btn-button' (click)="updateUnregistered(1)">+</button>
      </div>
      <button class="btn btn-button" (click)="delete()">Cancel</button>
    </div>
  </div>

  <div class="container align-center user" *ngIf="!selectedSession">

    <div class='slider'>
      <mat-slide-toggle [(ngModel)]="all" (change)='toggleAll()'>See all</mat-slide-toggle>
    </div>

    <mat-tab-group mat-align-tabs="center">
      <mat-tab *ngFor="let kind of sessions" label="{{kind.kind}}">
        <div *ngFor="let session of kind.sessions" class="session">
          <mat-card style="margin: 5px; display: flex; flex-direction: column; align-items: center;">
            <div class="img-wrapper col-sm-1">
              <img src="{{session.session.img}}" alt="{{session.session.name}}">
            </div>
            <div class="info-wrapper col-sm-7">
              <h4 class="name">Session: {{session.session.name}}</h4>
              <h4 class="name">Occupancy: {{session.total}}</h4>
              <div class="session-details">
                <div *ngIf="session.begin" class="padded">
                  <p>
                    <i class="fa fa-calendar"></i> {{session.begin | date:'fullDate':'+0000'}}
                  </p>
                </div>
                <div *ngIf="session.begin" class="padded">
                  <p>
                    <i class="fa fa-clock-o"></i> {{session.begin | date:'shortTime':'+0000'}} -
                    {{session.end | date:'shortTime':'+0000'}}
                  </p>
                </div>
                <div *ngIf="session.place">
                  <p>
                    <i class="fa fa-map-marker"></i> {{session.session.place}}
                  </p>
                </div>
              </div>
            </div>
            <div *ngIf='session.canCheckIn' class="col-sm-3 checkin">
              <button class="btn btn-button" (click)="beginCheckIn(session.session)">Check in</button>
            </div>
          </mat-card>
        </div>
      </mat-tab>

    </mat-tab-group>

  </div>
</div>