<app-menu></app-menu>

<app-loading [content]="sessions"></app-loading>

<div class="user sidebar-wrapper" *ngIf="sessions">

  <app-sidebar [user]="me" [showSidebar]="false"></app-sidebar>

  <div id="content" class="container-fluid">
    <div class="align-center">

      <div class="row">
        <h3>
          Check in
        </h3>
      </div>

      <div *ngIf="selectedSession">
        <div class="user-spanner alert alert-success" *ngIf="users && users.length > 0">
            <strong>Last user:</strong> {{users[users.length - 1].name}} <strong>Total: {{users.length}}</strong>
        </div>

        <div class="scanner">
          <app-qrcode-scanner (userReadOutput)="receiveUser($event)" [camStarted]="scannerActive" [title]="title">
          </app-qrcode-scanner>

          <button class="submit btn btn-button" (click)="submit()">Submit {{users.length}} users</button>
        </div>

      </div>

      <div class="container align-center user" *ngIf="!selectedSession">

        <div class="sessions-wrapper">
          <div *ngFor="let session of sessions" class="row session">
            <div class="col-sm-12">
              <div class="well well-sm workshop-wrapper">
                <div class="img-wrapper col-sm-2">
                  <img src="{{session.session.img}}" alt="{{session.session.name}}">
                </div>
                <div class="info-wrapper col-sm-7">
                  <h4 class="name">{{session.name}}</h4>
                  <div class="session-details">
                    <div *ngIf="session.begin" class="padded">
                      <p>
                        <i class="fa fa-calendar"></i> {{session.begin | date:'fullDate'}} </p>
                    </div>
                    <div *ngIf="session.begin" class="padded">
                      <p>
                        <i class="fa fa-clock-o"></i> {{session.begin | date:'shortTime'}} - {{session.end | date:'shortTime'}}</p>
                    </div>
                    <div *ngIf="session.countdown" class="padded">
                      <p>
                        <i class="fa fa-clock-o"></i> Time remaining: {{session.countdown | date:'H:mm'}} </p>
                    </div>
                    <div *ngIf="session.place">
                      <p>
                        <i class="fa fa-map-marker"></i> {{session.session.place}} </p>
                    </div>
                  </div>
                </div>
                <button class="btn btn-button" (click)="beginCheckIn(session.session)">Check in</button>
              </div>

            </div>

          </div>
        </div>

      </div>

    </div>
  </div>

</div>