<app-menu></app-menu>

<app-loading [content]="sessions"></app-loading>

<div class="user sidebar-wrapper" *ngIf="sessions">

  <app-sidebar [user]="me" [showSidebar]="false"></app-sidebar>

  <div id="content" class="container-fluid">
    <div class="align-center">

      <div class="row">
        <h3>
          Check in
        </h3>
      </div>

      <app-qrcode-scanner (userReadOutput)="receiveUser($event)" [camStarted]="scannerActive" [title]="title">
      </app-qrcode-scanner>

      <div class="container align-center user" *ngIf="!selectedSession">

        <div class="sessions-wrapper">
          <div *ngFor="let session of sessions" class="row well session">
            <!--<p><strong>Title: </strong>{{session.session.name}}</p>
            <p><strong>Begin: </strong>{{session.begin | date:'HH:mm'}}</p>
            <p><strong>End: </strong>{{session.end | date:'HH:mm'}}</p>
            <p><strong>Time to close: </strong>{{session.countdown | date:'HH:mm'}}</p>-->

            <div class="col-sm-12">
              <div class="well well-sm workshop-wrapper">
                <div class="img-wrapper col-sm-2">
                  <img src="{{session.img}}" alt="{{session.name}}">
                </div>
                <div class="info-wrapper col-sm-7">
                  <h4 class="name">{{session.name}}</h4>
                  <div class="session-details">
                    <div *ngIf="session.date" class="padded">
                      <p>
                        <i class="fa fa-calendar"></i> {{session.date | date:'fullDate'}} </p>
                    </div>
                    <div *ngIf="session.date" class="padded">
                      <p>
                        <i class="fa fa-clock-o"></i> {{session.date | date:'shortTime'}} </p>
                    </div>
                    <div *ngIf="session.duration" class="padded">
                      <p>
                        <i class="fa fa-clock-o"></i> {{session.duration | date:'h:mm'}} </p>
                    </div>
                    <div *ngIf="session.place">
                      <p>
                        <i class="fa fa-map-marker"></i> {{session.place}} </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

    </div>
  </div>

</div>