.checkin button {
  width: 100%;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.subtitle {
  text-align: center;
  font-style: italic;
  font-size: 17px;
}

.sessions-wrapper {
  display: flex;
  flex-direction: column;
}

.session {
  text-align: left;
}

button.btn {
  padding: 13px;
  letter-spacing: 2px;
  font-size: 14px;
  margin: 0;
}

.destroy {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.destroy>button {
  margin-top: 8%;
  margin-bottom: 8%;
  width: 80%;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.workshop-wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

span.seeMore:hover {
  color: #008ae6;
  cursor: pointer;
}

.img-wrapper {
  margin: 20px;
  width: 150px;
  overflow: hidden;
}

h4.name {
  font-size: 25px;
  font-weight: 400;
}

.session-details {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.session-details i {
  color: #008ae6;
}

.session-details p {
  line-height: 21px;
}

.session-details i span {
  margin: 0 5px;
}

.session-details div.padded {
  padding-right: 10px;
}

p.description {
  text-align: justify;
}

div.workshop-wrapper.workshop-collapsed {
  border: 1px solid #ccc;
  opacity: 0.5;
}

div.img-wrapper {
  height: 80px;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 0px;
  justify-content: center;
}

div.img-wrapper img {
  position: absolute;
  overflow: hidden;
  height: 100%;
}

@media (max-width: 767px) {
  h4.name {
    font-size: 22px;
    text-align: center;
    font-weight: 200;
  }

  p.description {
    margin-top: 10px;
  }

  .img-wrapper {
    margin: 0px;
  }

  .session-details {
    align-items: center;
    justify-content: center;
  }

  .session-details p {
    margin-bottom: 2px;
  }

  .workshop-wrapper {
    flex-direction: column;
  }
}

.unregistered {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.unregistered button {
  margin-top: 8%;
  margin-bottom: 8%;
  width: 30%;
  font-size: 4vh;
  min-width: none !important;
}

.unregistered .box {
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 3%;
  margin-right: 3%;
  width: 10%;
  font-size: 4vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TODO(mdc-migration): The following rule targets internal classes of slide-toggle that may no longer apply for the MDC version. */
mat-slide-toggle {
  transform: scale(1.5);
  margin-top: 5vh;
  margin-bottom: 5vh;
}