<mat-toolbar class='topbar'>
  <div class="expandable">
    <div class="tool-row">
      <span>
        <a routerLink="/user" class="navigation-link">Go to App</a>
      </span>
      <ul class="first-row socials">
        <li class="socials-nav-item">
          <a (click)="scroll(schedule)" class="navigation-link" aria-label="Schedule">
            Schedule
          </a>
        </li>
        <li class="socials-nav-item">
          <a (click)="scroll(speakerstab)" class="navigation-link" aria-label="Speakers">
            Speakers
          </a>
        </li>
        <!-- <li class="socials-nav-item">
          <a (click)="scroll(stands)" class="navigation-link" aria-label="Venue">
            Venue
          </a>
        </li> -->
        <li class="socials-nav-item">
          <a (click)="scroll(event)" class="navigation-link" aria-label="Event">
            Event
          </a>
        </li>
        <li class="socials-nav-item">
          <a (click)="scroll(sponsorstab)" class="navigation-link" aria-label="Sponsors">
            Sponsors
          </a>
        </li>
        <li class="socials-nav-item">
          <a (click)="scroll(about)" class="navigation-link" aria-label="About Us">
            About Us
          </a>
        </li>
        <li *ngIf="promocodes && promocodes.length" class="socials-nav-item">
          <a (click)="scroll(offers)" class="navigation-link" aria-label="Offers">
            Offers
          </a>
        </li>
        <li class="socials-nav-item">
          <a (click)="scroll(faq)" class="navigation-link" aria-label="FAQ">
            FAQ
          </a>
        </li>
      </ul>

      <span class="social-menu option-menu">
        <a (click)="toggleDropdown()" class="navigation-link ">Menu</a>
      </span>

      <span class="social-menu">
        <a (click)=" sidenav1.toggle()" target="_blank" class="navigation-link ">Socials</a>
      </span>
    </div>


    <div #collapse="ngbCollapse" [(ngbCollapse)]="!dropdownNav">
      <ul class="dropdown-content">
        <li class="socials-nav-item">
          <a (click)="scroll(schedule);toggleDropdown()" class="navigation-link" aria-label="Schedule">
            Schedule
          </a>
        </li>
        <li class="socials-nav-item">
          <a (click)="scroll(speakerstab);toggleDropdown()" class="navigation-link" aria-label="Speakers">
            Speakers
          </a>
        </li>
        <!-- <li class="socials-nav-item">
          <a (click)="scroll(stands);toggleDropdown()" class="navigation-link" aria-label="Venue">
            Venue
          </a>
        </li> -->
        <li class="socials-nav-item">
          <a (click)="scroll(event);toggleDropdown()" class="navigation-link" aria-label="Event">
            Event
          </a>
        </li>
        <li class="socials-nav-item">
          <a (click)="scroll(sponsorstab);toggleDropdown()" class="navigation-link" aria-label="Sponsors">
            Sponsors
          </a>
        </li>
        <li class="socials-nav-item">
          <a (click)="scroll(about);toggleDropdown()" class="navigation-link" aria-label="About Us">
            About Us
          </a>
        </li>
        <li *ngIf="promocodes && promocodes.length" class="socials-nav-item">
          <a (click)="scroll(offers);toggleDropdown()" class="navigation-link" aria-label="Offers">
            Offers
          </a>
        </li>
        <li class="socials-nav-item">
          <a (click)="scroll(faq);toggleDropdown()" class="navigation-link" aria-label="FAQ">
            FAQ
          </a>
        </li>
      </ul>
    </div>
  </div>

</mat-toolbar>


<mat-sidenav-container class='sidenav-container'>
  <mat-sidenav #sidenav1 mode="over" class='sidenav' position="end">
    <a href="https://twitter.com/sinfoist" target="_blank" aria-label="Twitter" (click)="sidenav1.toggle()">
      <div class="sidenav-item">
          <span>Twitter</span>
          <span class="fa fa-twitter"></span>
      </div>
    </a>
    <a href="https://www.facebook.com/sinfoist/" target="_blank" aria-label="Twitter" (click)="sidenav1.toggle()">
      <div class="sidenav-item">
          <span>Facebook</span>
          <span class="fa fa-facebook"></span>
      </div>
    </a>
    <a href="https://github.com/sinfo" target="_blank" aria-label="Twitter" (click)="sidenav1.toggle()">
      <div class="sidenav-item">
          <span>Github</span>
          <span class="fa fa-github"></span>
      </div>
    </a>
    <a href="https://www.instagram.com/sinfoist/" target="_blank" aria-label="Twitter" (click)="sidenav1.toggle()">
      <div class="sidenav-item">
          <span>Instagram</span>
          <span class="fa fa-instagram"></span>
      </div>
    </a>
    <a href="https://www.youtube.com/user/sinfoist" target="_blank" aria-label="Twitter" (click)="sidenav1.toggle()">
      <div class="sidenav-item">
          <span>Youtube</span>
          <span class="fa fa-youtube"></span>
      </div>
    </a>
    <a href="https://www.linkedin.com/company/2760221" target="_blank" aria-label="Twitter" (click)="sidenav1.toggle()">
      <div class="sidenav-item">
          <span>Linkedin</span>
          <span class="fa fa-linkedin"></span>
      </div>
    </a>
  </mat-sidenav>

  <mat-sidenav-content style=" overflow: overlay; font-family: 'Montserrat:  !important'">
    <div class="content">
      <section id="hero" class="hero-section light-text">
        <div class="video-bg">
        </div>

        <div class="sinfo-intro-wrapper heading-block">
          <div class="container">
            <h5 class="heading-alt text-center">
              <i class="fa fa-calendar-o base-clr-txt"></i>
              To Be Announced
            </h5>
            <h5 class="heading-alt text-center mt-2">
              <i class="fa fa-map-marker base-clr-txt"></i>
              Técnico Innovation Center, Lisbon
            </h5>
            <img class="logo-hero" src="assets/img/logo-branco2.png" alt="SINFO logo">
            <h6 class="thin base-font align-center">
              Biggest free tech conference in Portugal
            </h6>

            <app-livestream *ngIf="isLive"></app-livestream>
          </div>
        </div>
        <div class="intro cursor-pointer mb-3">
          <a (click)="scroll(schedule)">
            <i class="fa fa-chevron-down" aria-hidden="true" aria-label="Scroll down"></i>
          </a>
        </div>
      </section>


      <div #schedule>
        <app-schedule *ngIf="eventId" [eventId]="eventId"></app-schedule>
      </div>
      <mat-divider></mat-divider>

      <div #speakerstab>
        <app-speakers *ngIf="eventId" [eventId]="eventId"></app-speakers>
      </div>
      <mat-divider></mat-divider>

      <div #stands>
        <!-- TODO: Change false to eventId when stands are update -->
        <app-stands *ngIf="false" [eventId]="eventId"></app-stands>
      </div>
      <mat-divider></mat-divider>

      <!-- STANDS -->

      <section #event class="price-area section-padding" id="the-event">
        <div class="container" style="display: flex; flex-direction: column; align-items: center;">
          <div class="row">
            <div class="text-center">
              <div class="page-title">
                <h2 class="text-center">The Event</h2>
                <p class="wh">
                  Not sure why you should attend SINFO 32? We'll give you <b>six
                    great reasons</b> to not miss out on the biggest free tech
                  conference in Portugal:
                </p>
              </div>
            </div>
          </div>

          <div class="event-content">

            <mat-card class="example-card speaker-card" style="background-image: linear-gradient(rgba(27, 38, 97, 0.5), rgba(27, 38, 97, 0.5)),
            url('https://static.sinfo.org/static/31-sinfo/websiteImages/speaker.jpeg');">
              <mat-card-header>
                <mat-card-title class="card-title">
                  <h4 style="color: white;">Speaker Keynotes</h4>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content class="card-content">
                <p>
                  Get to learn from the best local and international speakers of
                  the most prestigious IT companies!
                </p>
              </mat-card-content>
            </mat-card>

            <mat-card class="example-card speaker-card" style="background-image: linear-gradient(rgba(27, 38, 97, 0.5), rgba(27, 38, 97, 0.5)),
            url('https://static.sinfo.org/static/31-sinfo/websiteImages/workshop.jpeg');">
              <mat-card-header>
                <mat-card-title class="card-title">
                  <h4 style="color: white;">Workshops</h4>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content class="card-content">
                <p>
                  Move your hard and soft skills to the next level with our
                  top-notch workshops.
                </p>
              </mat-card-content>
            </mat-card>

            <mat-card class="example-card speaker-card" style="background-image: linear-gradient(rgba(27, 38, 97, 0.5), rgba(27, 38, 97, 0.5)),
            url('https://static.sinfo.org/static/31-sinfo/websiteImages/presentation.jpeg');">
              <mat-card-header>
                <mat-card-title class="card-title">
                  <h4 style="color: white;">Company Presentations</h4>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content class="card-content">
                <p>
                  Get to know more about the top IT companies that are looking for
                  your super-powers!
                </p>
              </mat-card-content>
            </mat-card>

            <mat-card class="example-card speaker-card" style="background-image: linear-gradient(rgba(27, 38, 97, 0.5), rgba(27, 38, 97, 0.5)),
            url('https://static.sinfo.org/static/31-sinfo/websiteImages/networking.jpeg');">
              <mat-card-header>
                <mat-card-title class="card-title">
                  <h4 style="color: white;">Networking</h4>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content class="card-content">
                <p>
                  Meet, greet, and exchange knowledge with recruiters, fellow
                  colleagues, and even our speakers!
                </p>
              </mat-card-content>
            </mat-card>

            <mat-card class="example-card speaker-card" style="background-image: linear-gradient(rgba(27, 38, 97, 0.5), rgba(27, 38, 97, 0.5)),
            url('https://static.sinfo.org/static/31-sinfo/websiteImages/opportunities.jpeg');">
              <mat-card-header>
                <mat-card-title class="card-title">
                  <h4 style="color: white;">Opportunities</h4>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content class="card-content">
                <p>
                  Find job opportunities with the top IT companies in Portugal and more, or recruit new and upcoming
                  talent directly from IST!
                </p>
              </mat-card-content>
            </mat-card>

            <mat-card class="example-card speaker-card" style="background-image: linear-gradient(rgba(27, 38, 97, 0.5), rgba(27, 38, 97, 0.5)),
            url('https://static.sinfo.org/static/31-sinfo/websiteImages/prizes.jpeg');">
              <mat-card-header>
                <mat-card-title class="card-title">
                  <h4 style="color: white;">Giveaways</h4>
                </mat-card-title>
              </mat-card-header>
              <mat-card-content class="card-content">
                <p>
                  Get a great chance to win the most desired gadgets and prizes by
                  attending the event's sessions!
                </p>
              </mat-card-content>
            </mat-card>


          </div>
        </div>
      </section>

      <mat-divider></mat-divider>

      <section #uploadCv class="section bg-cover overlay newsletterbg light-text align-center">
        <div class="container">
          <h2>
            <span class="highlight">Upload your CV</span> now!
          </h2>
          <h6 class="lead">Are you new to the job market? Or maybe looking for a new challenge? Well, send us your
            curriculum
            vitae and every company present at SINFO will receive it!</h6>

          <a routerLink="/user/cv" class="btn btn btn-md">
            Upload here
          </a>
        </div>
      </section>


      <div #sponsorstab>
        <app-sponsors *ngIf="sponsors" [sponsors]="sponsors"></app-sponsors>
      </div>

      <mat-divider></mat-divider>


      <app-partners #partners *ngIf="sponsors" [sponsors]="sponsors"></app-partners>

      <mat-divider></mat-divider>

      <app-team *ngIf="eventId" [eventId]="eventId"></app-team>

      <section #newsletter class="section bg-cover overlay newsletterbg light-text align-center">
        <div class="container">
          <h2>
            <span class="highlight">Newsletter</span> Sign Up
          </h2>

          <h6 class="lead">Be the first to receive the latest updates from SINFO!</h6>

          <a class="btn btn btn-md"
            href="https://sinfo.us8.list-manage.com/subscribe?u=de57247db0922adf365af7eef&id=107b5bbe53"
            target="_blank">Subscribe</a>

        </div>
      </section>


      <section #about class="section align-center">
        <div class="container">

          <div class="tabs-wrapper tabs-horizontal">
            <div class="nav-wrapper" (window:resize)="showOrHideDropdown()" (click)="updateMenuClick()">
              <span class="nav-current">
                <h6>{{ selectedAboutText }}</h6>
              </span>
              <ul *ngIf="displayAboutDropdown || dropdown()" class="nav nav-tabs">
                <li [ngClass]="{'active': selectedAboutText === 'About Us'}">
                  <a href="#horizontal_tab1" data-toggle="tab" (click)="updatedSelectedText('About Us')">
                    <h6 class="heading-alt">
                      <span class="fa fa-code"></span> About Us
                    </h6>
                  </a>
                </li>
                <li [ngClass]="{'active': selectedAboutText === 'Mission'}">
                  <a href="#horizontal_tab2" data-toggle="tab" (click)="updatedSelectedText('Mission')">
                    <h6 class="heading-alt">
                      <span class="fa fa-rocket"></span> Mission
                    </h6>
                  </a>
                </li>
                <li [ngClass]="{'active': selectedAboutText === 'Vision & Target'}">
                  <a href="#horizontal_tab3" data-toggle="tab" (click)="updatedSelectedText('Vision & Target')">
                    <h6 class="heading-alt">
                      <span class="fa fa-external-link"></span> Vision & Target
                    </h6>
                  </a>
                </li>
              </ul>
            </div>
            <div class="tab-content">
              <div id="horizontal_tab1" @myInsertRemoveTrigger *ngIf="selectedAboutText === 'About Us'">
                <div class="col-sm-5 img-column">
                  <img src="assets/img/aboutUs-min.jpg" alt="" class="img-responsive" />
                </div>
                <div class="col-sm-7 align-left">
                  <h6>About Us</h6>
                  <p>
                    SINFO is a college student and non-profitable organization responsible for the planning of one of
                    the
                    biggest Tech events
                    in Portugal. It’s an annual conference that takes place at Técnico Innovation Center, in
                    the
                    capital
                    city of Portugal, Lisbon. We had a record breaking attendance of participants last year, achievement
                    we
                    hope
                    to repeat this year, from <b>the 15th to the 19th of April 2024</b>.
                  </p>
                </div>
              </div>

              <div id="horizontal_tab2" @myInsertRemoveTrigger *ngIf="selectedAboutText === 'Mission'">
                <div class="col-sm-7 align-left">
                  <h6>Mission</h6>
                  <p>
                    At SINFO, our mission is to give students and general attendants the opportunity to interact and get
                    closer to influential
                    and thriving people in the fields of Information Technology and Computer Science. We also bring tech
                    companies
                    of major relevance to our attendants so they can communicate with those companies’ employees, share
                    experiences
                    and maybe find a future position. We try to make it happen every day with dedication, by
                    continuously
                    improving
                    the quality of our event, not only by bringing new speakers for every edition but also innovativing
                    companies
                    and startups that share our love for technology.
                  </p>
                </div>
                <div class="col-sm-5 img-column">
                  <img src="assets/img/mission-min.jpg" alt="" class="img-responsive" />
                </div>
              </div>

              <div id="horizontal_tab3" @myInsertRemoveTrigger *ngIf="selectedAboutText == 'Vision & Target'">
                <div class="col-sm-5 img-column">
                  <img src="assets/img/vision-min.jpg" alt="" class="img-responsive" />
                </div>
                <div class="col-sm-7 align-left justify">
                  <h6>Vision</h6>
                  <p>
                    We live in an increasingly technological world in constant and swirling motion, where Computer
                    Science
                    and
                    IT play fundamental
                    roles. For the last 30 editions SINFO has been the bridge between that world and the student
                    community.
                    Every
                    single one of them sums up several months of dedication and hard work laid out by its members, who
                    are
                    driven
                    by the rewarding smiles of SINFO’s participants and the desire to surpass themselves every year. We
                    like
                    to
                    think we’ve managed to do both hitherto. Our goal is to inspire and be inspired.
                  </p>
                </div>
                <div class="col-sm-7 align-right justify">
                  <h6>Target</h6>
                  <p>
                    We are mainly focused on bringing the ultimate technological experience to the student community.
                    Nonetheless, everyone fascinated
                    by IT or seeking a new career opportunity is welcome to join us.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <mat-divider></mat-divider>

      <section *ngIf="promocodes && promocodes.length" #offers class="price-area section-padding" style="margin-bottom: 5%;">
        <div class="container">
          <div class="row">
            <div class="text-center">
              <div class="page-title">
                <h2 class="text-center">Offers</h2>
                <p class="wh">
                  Take advantage of exclusive offers from our partners!
                </p>
                <div class="offers">
                  <mat-card *ngFor="let offer of promocodes" class="example-card" style="padding: 5%;">
                    <img src="{{offer.company.img}}" alt="{{offer.company.name}} logo">

                    <div class="text-alt description">
                      <small>{{offer.description}}</small>
                    </div>
                    <a *ngIf="offer.link" href="{{offer.code}}" target="_blank" class="btn btn-rounded btn-outline-clr btn-sm" style="margin-top: 2%;">
                      Claim Offer
                    </a>
                    <div *ngIf="!offer.link" style="display:flex; flex-direction: column; margin-top: 2%;">
                      <span>
                        <small>Code:</small>
                        <p class="btn btn-rounded btn-outline-clr btn-sm">{{offer.code}}</p>
                      </span>
                      <small>Expires: {{offer.expire | date : "dd/MM/yyyy" : "+0100"}}</small>
                    </div>
                  </mat-card>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <mat-divider></mat-divider>

      <section #faq class="price-area section-padding" style="margin-bottom: 5%;" id="the-event">
        <div class="container">
          <div class="row">
            <div class="text-center">
              <div class="page-title">
                <h2 class="text-center">Frequently Asked Questions</h2>
                <p class="wh">
                  Do you still have questions regarding our event? Check out our frequently asked questions or shoot us
                  an e-mail!
                </p>
              </div>
            </div>
          </div>
          <mat-accordion>

            <mat-expansion-panel #panel1 hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon class="faq-chev">{{panel1.expanded ? 'keyboard_arrow_up' :
                    'keyboard_arrow_down'}}</mat-icon>
                  <span class="faq-title">Is SINFO really free?</span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>Yes! SINFO is — and always will be — free for everyone to attend and experience, no questions asked.
              </p>
            </mat-expansion-panel>


            <mat-expansion-panel #panel2 hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon class="faq-chev">{{panel2.expanded ? 'keyboard_arrow_up' :
                    'keyboard_arrow_down'}}</mat-icon>
                  <span class="faq-title">Where is SINFO 32 taking place?</span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>To be announced. Stay tuned for more information!</p>
            </mat-expansion-panel>

            <mat-expansion-panel #panel3 hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon class="faq-chev">{{panel3.expanded ? 'keyboard_arrow_up' :
                    'keyboard_arrow_down'}}</mat-icon>
                  <span class="faq-title">I'm not a student. Can I attend the event?</span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                Of course! SINFO is free and open to all the community. Everyone can enroll and participate in our
                sessions and even win magnificent prizes!
              </p>
            </mat-expansion-panel>

            <mat-expansion-panel #panel4 hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon class="faq-chev">{{panel4.expanded ? 'keyboard_arrow_up' :
                    'keyboard_arrow_down'}}</mat-icon>
                  <span class="faq-title">We want to be sponsors. How can we proceed?</span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>You can find all the information regarding this in <a href="https://sponsors.sinfo.org">our Sponsors Website</a> or
                send us an e-mail to geral@sinfo.org for additional information and assistance!
              </p>
            </mat-expansion-panel>

            <mat-expansion-panel #panel5 hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon class="faq-chev">{{panel5.expanded ? 'keyboard_arrow_up' :
                    'keyboard_arrow_down'}}</mat-icon>
                  <span class="faq-title">How can I join the SINFO team?</span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>We'd love to have you on our team! If you're a student and want to help organize one of the country's
                biggest tech conferences, send us an e-mail to rh@sinfo.org with your name, contact, degree & year,
                university, and motivation!
              </p>
            </mat-expansion-panel>

            <mat-expansion-panel #panel6 hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon class="faq-chev">{{panel6.expanded ? 'keyboard_arrow_up' :
                    'keyboard_arrow_down'}}</mat-icon>
                  <span class="faq-title">I need help. How can I contact the SINFO team?</span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>You can reach out to us by sending an e-mail to geral@sinfo.org or contact us through any of our social
                networks, @sinfoist !
              </p>
            </mat-expansion-panel>

          </mat-accordion>
        </div>
      </section>


      <section #sponsorsProgram class="section bg-cover overlay newsletterbg light-text align-center">
        <div class="container">
          <h2>
            <span class="highlight">Sponsors' Program</span>
          </h2>
          <h6 class="lead">Are you a tech company looking to recruit the most talented students in Portugal? SINFO is
            for
            you! Contact us to grant your place in the biggest free tech conference in Portugal!</h6>
          <a class="btn btn btn-md" href="mailto:geral@sinfo.org">Contact us</a>
        </div>
      </section>

      <app-feedback></app-feedback>

    </div>

    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
