.title {
    text-align: center;
}

.justify-center {
    width: 100%;
}

#content {
    height: auto;
}

.dropdown-backdrop {
    display: none;
}

.col-xs-12 {
  margin: 5px 0;
}

.col-xs-12 button, .col-cs-12 input {
    margin: 0;
}

button {
    width: 100%;
    letter-spacing: .15em;
    padding: 13px;
    margin: 10px auto 5px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-danger {
    background-color: #d9534f;
    border-color: #d9534f;
}

.promote-team {
  background: #018ae6 url(https://sinfo.ams3.digitaloceanspaces.com/static/25-sinfo/powerOn.png) no-repeat;
  background-size: 73px;
  text-align: center;
  background-position-x: 98%;
  background-position-y: 50%;
}

.rescan span {
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 27%;
    right: 10%;
}

.wrapper, .align-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.form-control {
    width: 95%;
    margin: 5px auto;
}

.link-warning h6 {
    color: #018ae6;
}

.btn-default:focus {
    color: #333;
    background-color: #fff;
    border-color: #ccc
}


.btn-warning {
  background-color: #eea236;
  border-color: #eea236;
}

.full-width{
    width: calc(100% - 100px);
    height: 100% !important;
}

.form-control {
    font-size: 20px;
    width: 100%;
    margin: auto;
}

.col-xs-12 {
  margin: 5px 0;
}


.rescan {
    background-color: #449d44 !important;
    border-color: #449d44 ;
}

.row button {
  width: 100%;
  margin: 5px auto;
}

.title{
  flex-grow: 2;
}

.column{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 3;
  width: 30vw;
}

.mb-3{
  width: 100%;
}

.row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-danger {
  background-color: #d9534f;
  border-color: #d9534f;
}


.center{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    text-align: center;
}

.vertical{
    flex-direction: column;
}

.limit-width{
    max-width: calc(100% - 100px);
}

@media(max-width: 975px){
    .limit-width{
        max-width: 73vw;
    }
}

img.portrait {
    border-radius: 50%;
    border: 3px solid #048ae6;
}

#image-wrapper {
    display: flex;
}

div.portrait-wrapper {
    margin: 10px auto;
    position: relative;
}

div.mini-portrait-wrapper {
    position: absolute;
    width: 40%;
    height: 40%;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    background-color: rgba(255,255,255, 1);
    border: 3px solid #048ae6;
    padding: 10px;
}
div.mini-portrait-wrapper img {
    width: 100%;
}

.sinfo-logo {
    height: 30px;
}

.mini-image{
    border-radius: 50%;
}

.mini-image:before{
    content: "";
    display: block;
    padding-top: 100%;
}

