<app-loading [content]="companies"></app-loading>

<div class="wrapper pad" *ngIf="companies" style="height: 100%;">

  <div *ngIf="!userRead" style="height: 100%;">
    <div>
      <h3 class="title mb-1">{{ title }}</h3>
    </div>
    <app-qrcode-scanner (readData)="receiveUser($event)" [camStarted]="scannerActive" [title]="" [info]="info"
      [userRead]="userRead" [company]="userReadCompany" style="height: 100%;">
    </app-qrcode-scanner>
  </div>

  <div class="container justify-center user" *ngIf="userRead" style="height: 100%;">
    <div>
      <h3 class="title mb-1">{{ title }}</h3>
    </div>

    <div class='wrapper'>
      <div *ngIf="userRead" class='vertical center'>
        <div class="row limit-width">
          <h3 class="name center">
            {{userRead.name}}
          </h3>
        </div>

        <div class="row limit-width">
          <h5 *ngIf="info === 'team'">
            <img class="sinfo-logo" src="https://sinfo.ams3.digitaloceanspaces.com/static/25-sinfo/sinfoLogo.png">
          </h5>

          <h5 *ngIf="info && info.length > 0 && info !== 'team'" class='name center'>
            {{info}}
          </h5>
        </div>

        <div class="row" id="image-wrapper">
          <div class="portrait-wrapper">
            <img class="portrait" src="{{userRead.img}}">
            <div class="mini-portrait-wrapper"
              *ngIf="userRead.role === 'team' || (userRead.role === 'company' && company)">
              <img *ngIf="userRead.role === 'team'" class="mini-image"
                src="https://sinfo.ams3.digitaloceanspaces.com/static/25-sinfo/powerOn.png" class="powerOn">
              <img *ngIf="userRead.role === 'company' && company" class="mini-image" [src]="company.img">
            </div>
          </div>
        </div>

      </div>
    </div>

    <div *ngIf="userRead.role !== 'team'" class="row">
      <div class='col-xs-12 promote typeahead'>
        <button mat-raised-button class="promote-team" (click)="promoteToTeam()">
          <mat-icon>person</mat-icon>
          <span>Promote to SINFO member</span>
        </button>
      </div>
    </div>

    <div *ngIf="userRead.role !== 'company'" class="row">
      <div class="col-sm-6 promote typeahead">
        <mat-form-field appearance="fill" style="width: 100%; background-color: white;">
          <mat-label>Search for company</mat-label>
          <mat-select name="searchCompany" id="searchCompany" style="background-color: white;" name="searchCompany" [(ngModel)]="searchedCompany">
            <mat-option style="background-color: white;" *ngFor="let comp of companies" [value]="comp">
              {{ comp.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <button mat-raised-button color="primary" (click)="promoteToCompany()">
          <mat-icon>business</mat-icon>
          <span>Promote to company</span>
        </button>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-6">
        <button mat-raised-button (click)="reScan()" class="rescan-button">
          <mat-icon>qr_code</mat-icon>
          <span>Rescan QRCode</span>
        </button>
      </div>
      <div class="col-sm-6">
        <button mat-raised-button color="warn" (click)="demoteUser()">
          <mat-icon>cancel</mat-icon>
          <span> Demote user</span>
        </button>
      </div>
    </div>

  </div>

</div>