<section id="hero" class="hero-section light-text">
  <div class="video-bg">
    <!--video autoplay loop muted playsinline preload="auto">
      <source src="assets/video/Final.mp4" type="video/mp4" />
    </video-->
  </div>
  <ul class="socials-nav">
    <li class="socials-nav-item">
      <a href="https://twitter.com/sinfoist" target="_blank">
        <span class="fa fa-twitter"></span>
      </a>
    </li>
    <li class="socials-nav-item">
      <a href="https://www.facebook.com/sinfoist/" target="_blank">
        <span class="fa fa-facebook"></span>
      </a>
    </li>
    <li class="socials-nav-item">
      <a href="https://github.com/sinfo" target="_blank">
        <span class="fa fa-github"></span>
      </a>
    </li>
    <li class="socials-nav-item">
      <a href="https://www.instagram.com/sinfoist/" target="_blank">
        <span class="fa fa-instagram"></span>
      </a>
    </li>
    <li class="socials-nav-item">
      <a href="https://www.youtube.com/user/sinfoist" target="_blank">
        <span class="fa fa-youtube"></span>
      </a>
    </li>
    <li class="socials-nav-item">
      <a href="https://www.linkedin.com/company/2760221" target="_blank">
        <span class="fa fa-linkedin"></span>
      </a>
    </li>
  </ul>
  <div class="sinfo-intro-wrapper heading-block">
    <div class="container">
      <h5 class="heading-alt">
        <span>
            <span class="fa fa-map-marker base-clr-txt" style="margin-left: 14px;"></span>
            Técnico, Lisbon
        </span>
      </h5>
      <img class="logo-hero" src="assets/img/logo-branco2.png" alt="SINFO logo">
      <h6 class="thin base-font align-center">Biggest
        <strong>free tech conference</strong> in Portugal</h6>
    </div>
  </div>
  <div class="intro ">
    <a href="#speakers">
      <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </a>
  </div>
</section>

<app-menu></app-menu>

<app-speakers [event]="id"></app-speakers>

<app-schedule [event]="id"></app-schedule>

<app-team [event]="id"></app-team>

<app-sponsors [event]="id"></app-sponsors>
