.achievement-section img {
    margin: 20px;
    width: 200px;
}

.achievement-section h5 {
    color: #008ae6;
    margin: 20px;
}

.achievement-section span.fa {
    font-size: 50px;
    margin-bottom: 20px;
}