.wrapper {
  display: flex;
  align-items: stretch;
  min-height: 87vh;
}
#content {
  padding: 20px;
  transition: all 0.3s;
  width: 100%;
  justify-content: center;
  margin-bottom: 30px;
}
.achievement-section {
  display: flex;
  justify-content: center;
  width: 100%;
}
.achievement-section img {
  width: 87px;
}
.achievement-section h5 {
  color: #008ae6;
  margin: 20px;
  font-weight: 400;
}
.achievement-section h4 {
  font-size: 26px;
}
.achievement-section span.fa {
  font-size: 50px;
  margin-bottom: 20px;
}
.users-wrapper img{
  width: 40px;
  border-radius: 50%;
  max-width: none;
  margin: 1px;
}
button.pick-winner {
  padding: 13px;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 27%;
  line-height: 16px;
  font-size: 19px;
  letter-spacing: 1px;
  font-family: 'PT Sans', sans-serif;
}
button.btn-info {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}
div.code pre {
  padding: 30px;
  margin: 20px;
  font-size: 22px;
}
.pick-a-winner i.fa {
  margin-top: 30px;
  font-size: 50px;
}
.pick-a-winner h3.title {
  margin: 20px;
}
.pick-a-winner h6.lead {
  margin-bottom: 40px;
}
.winner {
  transition: all .5s ease-out;
}
.winner span.glyphicon {
  margin-top: 20px;
  font-size: 35px;
  color: #008ae6;
}
.winner h5 {
  color: #262627;
  font-size: 36px;
  font-weight: 400;
  margin: 15px auto;
}
.winner .user {
  display: flex;
  justify-content: center;
  align-items: center;
}
.winner .img-wrapper {
  width: 200px;
}
.winner .img-wrapper img{
  border-radius: 50%;
  width: 100%;
}
.winner .name{
  font-size: 40px;
}