<div class="align-center">
  <div class="row">
    <div class="col-sm-12 align-center">
      <h3 class="title">Picking the winner</h3>
      <i class="fa fa-trophy" aria-hidden="true"></i>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 align-center">
      <div *ngIf="!achievements && achievements.length === 0">
        No sessions yet
      </div>

      <div *ngIf="achievements && achievements.length > 0 && !achievement" class="flex-container">
        <button *ngFor="let element of achievements" (click)=showUsers(element.achievement) type="button"
          class="btn btn-secondary" class="flex-item">

          <img appImage [url]="element.img" class="portrait">
          <p>
            {{element.name}}
          </p>
        </button>
      </div>

      <div *ngIf="achievement && users.length > 0 && !winner">
        <div class="flex-container">
          <div *ngFor="let user of users" class="flex-item small">
            <img appImage [url]="user.img" class="portrait">
            <p>{{user.name}}</p>
          </div>
        </div>

        <div class="actions">
          <button (click)=chooseWinner() type="button" class="btn btn-secondary">Pick Winner</button>
          <button (click)=changeSession() type="button" class="btn btn-secondary">Change Session</button>
        </div>

      </div>

      <div *ngIf="winner">
        <div class="portrait-wrapper">
          <img appImage [url]="winner.img" class="portrait">
          <p>{{winner.name}}</p>

          <div class="actions">
            <button (click)=chooseWinner() type="button" class="btn btn-secondary">Reroll</button>
            <button (click)=changeSession() type="button" class="btn btn-secondary">Change Session</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>