#profile-content {
  position: absolute;

  height: 87vh;
  top: 10vh;

  width: calc(100% - 100px);
  left: 100px;

  margin: 3vh 1vw 2vw 1vw;
  padding-right: 1vw;

  overflow-y: scroll;
  overflow-x: hidden;
}
