.user-wrapper {
  position: relative;

  display: flex;
  flex-direction: row;
  
  width: 100vw;

  height: calc(100vh - 100px);
}

@media (max-width: 767px) {
  .user-wrapper {
    height: calc(100vh - 71px);
    top: 71px;
  }
}

.sidebar {
  height: 100%;
  width: 20%;
}

.profile-content {
  flex-grow: 1;

  padding-right: 1%;

  overflow-y: scroll;
  overflow-x: hidden;
}

@media(min-width: 975px){
  .sidebar {
    width: 100px;
  }
}
