<app-menu></app-menu>

<app-loading [content]="user"></app-loading>

<div class="sidebar-wrapper" *ngIf="user">

  <!--app-sidebar [showSidebar]="false"></app-sidebar-->
  <app-sidebar></app-sidebar>


  <div class="container align-center user my-area-content" *ngIf="user">
    <div class="row align-center">

      <h3 class="name">
        {{user.name}}
      </h3>

      <h5 *ngIf="user.role === 'team'">
        <img class="sinfo-logo" src="https://sinfo.ams3.digitaloceanspaces.com/static/25-sinfo/sinfoLogo.png">
      </h5>

      <h5 *ngIf="user.role === 'company' && company">
        {{company.name}}
      </h5>

    </div>

    <div class="row qrcode-wrapper">

      <div class="qrcode-image">
        <div class="row">
          <div class="portrait-wrapper">
            <img class="portrait" src="{{user.img}}">
            <div class="mini-portrait-wrapper" *ngIf="user.role === 'team' || (user.role === 'company' && company)">
              <img *ngIf="user.role === 'team'" class="mini-image" src="https://sinfo.ams3.digitaloceanspaces.com/static/25-sinfo/powerOn.png">
              <img *ngIf="user.role === 'company' && company" class="mini-image" src="{{company.img}}">
            </div>
            <div class="mini-portrait-wrapper" *ngIf="user.role === 'user' && user.points">
              <h2>{{user.points.total ? user.points.total : 0}}</h2>
              <span class="lead">points</span>
            </div>
          </div>
        </div>
      </div>

      <div class="qrcode">
        <ngx-qrcode [qrc-value]="user.id" [qrc-version]=5 [qrc-correction-level]="'M'"></ngx-qrcode>
      </div>
    </div>


    <div class="row" *ngIf="user.area">
      <h5>Area </h5>
      <p>{{user.area}}</p>
    </div>

    <div class="row" *ngIf="user.skills">
      <h5>Skills </h5>
      <p>{{user.skills.join(', ')}}</p>
    </div>

    <div class="row" *ngIf="user.points">
      <h5>Current points </h5>
      <p>{{user.points.total ? user.points.total : 0}}</p>
    </div>

    <div class="row" *ngIf="achievements && achievements.length > 0">
      <h5>Achievements earned </h5>
      <div class="achivements-wrapper">
        <img class="achievement" src="{{achievement.img}}" alt="{{achievement.name}}" title="{{achievement.name}}" *ngFor="let achievement of achievements">
      </div>
    </div>

  </div>
</div>