button.getTicket {
  letter-spacing: 0.30em;
  padding: 13px;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
}
button.btn-success {
  background-color: #449d44 !important;
  border-color: #398439 !important;
}
button.btn-danger {
  background-color: #d9534f !important;
  border-color: #d43f3a !important;
}
button.btn-disabled {
  background-color: #51545b !important;
  border-color: #262627 !important;
}
button.getTicket span i{
  color: white;
  padding: 0;
  margin: 0;
}
div.waiting-alert {
  padding: 7px;
  margin-bottom: 5px;
  font-size: 14px;
}
