.wrapper {
  display: flex;
  align-items: stretch;
  min-height: 87vh;
}
.subsection {
  width: 100%;
}
.achievement-section {
  display: flex;
  justify-content: center;
  width: 100%;
}
.achievement-section img {
  width: 87px;
}
.achievement-section h5 {
  color: #008ae6;
  margin: 20px;
  font-weight: 400;
}
.achievement-section h4 {
  font-size: 26px;
}
.achievement-section span.fa {
  font-size: 50px;
  margin-bottom: 20px;
}
.users-wrapper img{
  width: 40px;
  border-radius: 50%;
  max-width: none;
  margin: 1px;
}