<footer class="footer">
  <div class="footer-base">
    <div class="container">

      <div class="col-md-6">
        <ul class="footer-nav">
          <li class="footer-nav-item">
            <a routerLink="/">Contacts</a>
          </li>
          <li class="footer-nav-item">
            <a routerLink="/privacy-policy">Privacy policy</a>
          </li>
          <li class="footer-nav-item">
            <a routerLink="/coc">Code of Conduct</a>
          </li>
        </ul>
      </div>

      <div class="col-md-6 align-right">
        <ul class="socials-nav align-right">
          <li class="socials-nav-item">
            <a href="https://twitter.com/sinfoist" target="_blank">
              <span class="fa fa-twitter"></span>
            </a>
          </li>
          <li class="socials-nav-item">
            <a href="https://www.facebook.com/sinfoist/" target="_blank">
              <span class="fa fa-facebook"></span>
            </a>
          </li>
          <li class="socials-nav-item">
            <a href="https://github.com/sinfo" target="_blank">
              <span class="fa fa-github"></span>
            </a>
          </li>
          <li class="socials-nav-item">
            <a href="https://www.instagram.com/sinfoist/" target="_blank">
              <span class="fa fa-instagram"></span>
            </a>
          </li>
          <li class="socials-nav-item">
            <a href="https://www.youtube.com/user/sinfoist" target="_blank">
              <span class="fa fa-youtube"></span>
            </a>
          </li>
          <li class="socials-nav-item">
            <a href="https://www.linkedin.com/company/2760221" target="_blank">
              <span class="fa fa-linkedin"></span>
            </a>
          </li>
        </ul>

        <p class="text-alt">
          <small>Made with ♥ at SINFO - code available
            <a href="https://github.com/sinfo/sinfo-webapp" target="_blank">here</a>
          </small>
        </p>
      </div>

    </div>
  </div>
</footer>