<footer class="footer">
  <div class="footer-base">
    <div class="container">

      <div class="col-md-4">
        <ul class="footer-nav">
          <li class="footer-nav-item">
            <a routerLink="/privacy-policy">Privacy policy</a>
          </li>
          <li class="footer-nav-item">
            <a routerLink="/coc">Code of Conduct</a>
          </li>
        </ul>
      </div>

      <div class="col-md-4">
        <ul class="socials-nav">
          <li class="socials-nav-item first">
            <a href="https://twitter.com/sinfoist" target="_blank" aria-label="Twitter">
              <span class="fa fa-twitter"></span>
            </a>
          </li>
          <li class="socials-nav-item">
            <a href="https://www.facebook.com/sinfoist/" target="_blank" aria-label="Facebook">
              <span class="fa fa-facebook"></span>
            </a>
          </li>
          <li class="socials-nav-item">
            <a href="https://github.com/sinfo" target="_blank" aria-label="Github">
              <span class="fa fa-github"></span>
            </a>
          </li>
          <li class="socials-nav-item">
            <a href="https://www.instagram.com/sinfoist/" target="_blank" aria-label="Instagram">
              <span class="fa fa-instagram"></span>
            </a>
          </li>
          <li class="socials-nav-item">
            <a href="https://www.youtube.com/user/sinfoist" target="_blank" aria-label="Youtube">
              <span class="fa fa-youtube"></span>
            </a>
          </li>
          <li class="socials-nav-item">
            <a href="https://www.linkedin.com/company/2760221" target="_blank" aria-label="Linkedin">
              <span class="fa fa-linkedin"></span>
            </a>
          </li>
        </ul>
      </div>

      <div class="col-md-4">
        <ul class="list">
          <li class="">
            <i class="fa fa-map-marker"></i><a href="https://goo.gl/maps/9NQdxy8svXL2" target="_blank">Instituto
              Superior Técnico, Lisbon</a></li>
          <li class="">
            <i class="fa fa-envelope"></i>
            <a href="mailto:geral@sinfo.org">geral@sinfo.org</a>
          </li>
        </ul>
      </div>
    </div>


    <div class="container">
      <div class="col-md-12">
        <p class="text-alt" style="text-align: center">
          <small>Made with ♥ at SINFO - <a href="https://github.com/sinfo/ng-sinfo-webapp" target="_blank">Open source
              code</a>
          </small>
        </p>
      </div>
    </div>
  </div>
</footer>