h6 {
    color: #686e6e;
}

h5 {
    font-weight: 400;
}

input[type="file"] {
    display: none;
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 45%;
    margin-bottom: 1.5rem;
}

.img {
    height: 80%;
}

#progress-bar {
    height: 5%;
}

#content div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 95%;
}

.row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.upload-button {
    background-color: #14A44D !important;
    color: white !important;
}

.upload-icon {
    font-size: 1.125rem;
    margin-top: 0.25rem;
}

.upload-text {
    font-weight: 500 !important;
}

.label-height {
    height: 1.125rem;
}

.download-button {
    background-color: #3f50b4;
    color: white;
}

.text-no-format {
    text-decoration: none;
}

.mat-icon {
    vertical-align: middle;
}

.action-button {
    margin-bottom: 1.5rem;
}

.center-buttons {
    display: flex;
    justify-content: space-evenly;
}

.cv-buttons {
    width: 200px;
}

/* Medium devices (tablets, 768px and down) */
@media (max-width: 768px) {
    .center-buttons {
        flex-direction: column;
    }
}