<app-loading [content]="sessions">
</app-loading>

<section *ngIf="sessions && sessions.length" id="schedule" class="section schedule-section align-center">
  <div class="container">
    <span class="icon section-icon icon-office-21"></span>
    <h3>Schedule</h3>
    <strong id="subtitle">All times displayed in the schedule are relative to Lisbon's timezone, GMT+00:00</strong>
    <br />

    <br />

    <a class="btn btn-sm btn-outline-clr ics" href="https://deck.sinfo.org/calendar.ics" target="_blank">
      Download calendar
      <span class="fa fa-download"></span>
    </a>

    <app-loading [content]="schedule">
    </app-loading>

    <!-- Schedule start -->
    <div *ngIf="schedule" class="schedule">

      <!-- Navigation by day start -->
      <div class="nav-wrapper" (window:resize)="showOrHideDropdown()">
        <span class="nav-current" (click)="toggleDayDropdown()">
          <h5 class="highlight"> {{ selectedTheme }}</h5>
          <p class="text-alt">{{ selectedTime | date:'dd-MM-yyyy':'+0000'}}</p>
        </span>
        <ul *ngIf="displayDayDropdown" class="nav nav-schedule nav-day">
          <li *ngFor="let day of schedule; let i=index" [ngClass]="{'active': selectedTheme === day.theme}">
            <a (click)="updateSelectedDayText(day.theme, day.date)">
              <h5 class="highlight">{{day.theme}}</h5>
              <p class="text-alt">{{day.date | date:'dd-MM-yyyy':'+0000'}}</p>
            </a>
          </li>
        </ul>
      </div>
      <!-- Navigation by day end -->

      <!-- First level content start -->
      <div class="tab-content">

        <!-- Day 1 content start -->
        <div *ngFor="let day of schedule; let i=index" class="tab-pane fade in"
          [ngClass]="{'active': selectedTheme === day.theme}">

          <!-- Navigation by session type start -->
          <div class="nav-wrapper">
            <span class="nav-current" (click)="toggleSessionDropdown()">{{selectedSession}}</span>
            <ul *ngIf="displaySessionDropdown" class="nav nav-schedule schedule-type">
              <li [ngClass]="{'active': selectedSession === 'Presentations'}">
                <a (click)="updateSelectedSessionText('Presentations')">Presentations</a>
              </li>
              <li [ngClass]="{'active': selectedSession === 'Keynotes'}">
                <a (click)="updateSelectedSessionText('Keynotes')">Keynotes</a>
              </li>
              <li [ngClass]="{'active': selectedSession === 'Workshops'}">
                <a (click)="updateSelectedSessionText('Workshops')">Workshops</a>
              </li>
            </ul>
          </div>
          <!-- Navigation by session type start -->

          <!-- Second level content start -->
          <div class="tab-content tab-content-schedule">

            <!-- Keynotes content start -->
            <div class="tab-pane fade in" [ngClass]="{'active': selectedSession === 'Keynotes'}">

              <!-- Accordion start -->
              <div *ngIf="day.sessions.Keynote" class="panel-group">

                <div *ngFor="let session of day.sessions.Keynote; let iSession=index" class="panel schedule-item">

                  <div class="lecture-icon-wrapper">
                    <img appImage [url]="session.img" alt="" class="img-responsive">
                  </div>

                  <a (click)="onSelect(session)" class="schedule-item-header">
                    <strong class="time highlight">
                      <span class="icon icon-office-24"></span>
                      {{session.date | date:'shortTime':'+0000'}}
                      <span class="icon icon-office-47 place"></span>
                      {{session.place}}
                    </strong>
                    <h6 class="title">
                      <strong *ngFor="let speaker of session.speakers" class="highlight speaker-name">
                        {{session.name.split(' - ')[0]}}
                      </strong>
                      -- {{session.name.split(' - ')[1]}}
                    </h6>
                  </a>

                  <div class="panel-collapse collapse in schedule-item-body">
                    <article>
                      <p class="description">{{session.description}}</p>
                    </article>
                  </div>

                </div>
              </div>
              <!-- Accordion end -->

            </div>
            <!-- Keynotes content end -->

            <!-- Presentations content start -->
            <div class="tab-pane fade in" [ngClass]="{'active': selectedSession === 'Presentations'}">

              <!-- Accordion start -->
              <div *ngIf="day.sessions.Presentation" class="panel-group">

                <div *ngIf="day.sessions.Presentation.sala1" class="room1 col-sm-6">

                  <div *ngFor="let presentation of day.sessions.Presentation.sala1; let iSession=index">

                    <div class="panel schedule-item">

                      <div class="lecture-icon-wrapper">
                        <img appImage [url]="presentation.img" alt="" class="img-responsive">
                      </div>

                      <a (click)="onSelect(presentation)" class="schedule-item-header">
                        <strong class="time highlight">
                          <span class="icon icon-office-24"></span>
                          {{presentation.date | date:'shortTime':'+0000'}}
                          <span class="icon icon-office-47 place"></span>
                          {{presentation.place}}
                        </strong>
                        <h6 class="title">{{presentation.name}}
                        </h6>
                      </a>

                      <div class="panel-collapse collapse in schedule-item-body">
                        <article>
                          <p class="description">{{presentation.description}}</p>
                          <strong *ngFor="let speaker of presentation.speakers" class="highlight speaker-name">
                            {{speaker}}
                          </strong>
                        </article>
                      </div>
                    </div>

                  </div>
                </div>

                <div *ngIf="day.sessions.Presentation.sala2" class="room2 col-sm-6">

                  <div *ngFor="let presentation of day.sessions.Presentation.sala2; let iSession=index">

                    <div class="panel schedule-item">

                      <div class="lecture-icon-wrapper">
                        <img appImage [url]="presentation.img" alt="" class="img-responsive">
                      </div>

                      <a (click)="onSelect(presentation)" class="schedule-item-header">
                        <strong class="time highlight">
                          <span class="icon icon-office-24"></span>
                          {{presentation.date | date:'shortTime':'+0000'}}
                          <span class="icon icon-office-47 place"></span>
                          {{presentation.place}}
                        </strong>
                        <h6 class="title">{{presentation.name}}
                        </h6>
                      </a>

                      <div class="panel-collapse collapse in schedule-item-body">
                        <article>
                          <p class="description">{{presentation.description}}</p>
                          <strong *ngFor="let speaker of presentation.speakers" class="highlight speaker-name">
                            {{speaker}}
                          </strong>
                        </article>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
              <!-- Accordion end -->

            </div>
            <!-- Presentations content end -->

            <!-- Workshops content start -->
            <div class="tab-pane fade in" [ngClass]="{'active': selectedSession === 'Workshops'}">

              <!-- Accordion start -->
              <div *ngIf="day.sessions.Workshop" class="panel-group">

                <div *ngIf="day.sessions.Workshop.sala1" class="room1 col-sm-6">

                  <div *ngFor="let workshop of day.sessions.Workshop.sala1; let iSession=index">

                    <div class="panel schedule-item">

                      <div class="lecture-icon-wrapper">
                        <img appImage [url]="workshop.img" alt="" class="img-responsive">
                      </div>
                      <a (click)="onSelect(workshop)" class="schedule-item-header">
                        <strong class="time highlight">
                          <span class="icon icon-office-24"></span>
                          {{workshop.date | date:'shortTime':'+0000'}}
                          <span class="icon icon-office-47 place"></span>
                          {{workshop.place}}
                        </strong>
                        <h6 class="title">{{workshop.name}}
                        </h6>
                      </a>

                      <div class="panel-collapse collapse in schedule-item-body">
                        <article>
                          <p class="description">{{workshop.description}}</p>
                          <strong *ngFor="let speaker of workshop.speakers" class="highlight speaker-name">
                            {{speaker}}
                          </strong>
                        </article>
                      </div>
                    </div>

                  </div>
                </div>

                <div *ngIf="day.sessions.Workshop.sala2" class="room2 col-sm-6">

                  <div *ngFor="let workshop of day.sessions.Workshop.sala2; let iSession=index">

                    <div class="panel schedule-item">

                      <div class="lecture-icon-wrapper">
                        <img appImage [url]="workshop.img" alt="" class="img-responsive">
                      </div>
                      <a (click)="onSelect(workshop)" class="schedule-item-header">
                        <strong class="time highlight">
                          <span class="icon icon-office-24"></span>
                          {{workshop.date | date:'shortTime':'+0000'}}
                          <span class="icon icon-office-47 place"></span>
                          {{workshop.place}}
                        </strong>
                        <h6 class="title">
                          {{workshop.name}}
                        </h6>
                      </a>

                      <div id="{{i}}_workshops_sala2_{{iSession}}"
                        class="panel-collapse collapse in schedule-item-body">
                        <article>
                          <p class="description">{{workshop.description}}</p>
                          <strong *ngFor="let speaker of workshop.speakers" class="highlight speaker-name">
                            {{speaker}}
                          </strong>
                        </article>
                      </div>
                    </div>

                  </div>
                </div>

              </div>
              <!-- Accordion end -->

            </div>
            <!-- Workshops content end -->

          </div>
          <!-- Second level content end -->

        </div>
        <!-- Day 1 content end -->
      </div>

    </div>
    <!-- First level content end -->

  </div>
  <!-- Schedule end -->

</section>