.schedule-section {
  width: 100%;
}

.schedule .tab-content-schedule .schedule-item .lecture-icon-wrapper {
  background-color: transparent;
  left: -8px;
  width: 60px;
  height: 60px;
  top: 0;
}

.schedule .tab-content-schedule .schedule-item .lecture-icon-wrapper img {
  background-color: white;
}

.schedule .presentations:before {
  left: 110px;
  width: 43%;
  border-left: 1px solid #eff1f5;
}

.schedule .presentations:before {
  left: 110px;
  width: 43%;
  border-left: 1px solid #eff1f5;
}

.schedule .tab-content-schedule .panel-group {
  margin-bottom: 0;
}

.tab-content {
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
  border: none
}

.tab-content::before {
  display: none;
}

.tab-label {
  width: 100%;
  height: 100%;
  color: white;
  background-color: #008ae6;
}


.schedule .tab-content-schedule .schedule-item {
  position: relative;
  margin-bottom: 22px;
  min-height: 65px;
  padding: 0 0 0 67px;
  background-color: transparent;
  min-height: 300px;
}

.schedule .tab-content-schedule .schedule-item .schedule-item-header {
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.text-wrapper {
  font-family: 'Monteserrat';
}

.room2 {
  padding-left: 50px;
}

@media (max-width: 480px) {
  .tab-content {
    grid-template-columns: 100%;
  }

  .col-sm-6 {
    width: 100%;
  }

  .schedule .presentations:before {
    width: 0px;
    border-left: none;
  }

  .schedule .tab-content-schedule {
    padding: 35px 0;
  }

  .nav.nav-schedule {
    display: inline-block !important;
    max-height: none !important;
    margin-bottom: 10px;
  }

  .room2 {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .tab-content {
    grid-template-columns: 100%;
  }

  .col-sm-6 {
    width: 100%;
  }

  .schedule .presentations:before {
    width: 0px;
    border-left: none;
  }

  .schedule .tab-content {
    border: none;
  }

  .nav.nav-schedule {
    position: absolute;
  }

  .room2 {
    padding-left: 0;
  }
}

@media (max-width: 991px) {
  .tab-content {
    grid-template-columns: 100%;
  }

  .schedule .tab-content .img-responsive {
    margin: 0;
  }

  .col-sm-6 {
    width: 100%;
  }

  .schedule .presentations:before {
    width: 0px;
    border-left: none;
  }

  .room2 {
    padding-left: 0;
  }
}

.place {
  margin-left: 15px;
}

.schedule .presentations-item .lecture-icon-wrapper {
  left: 385px;
}

.ics {
  margin-bottom: 20px;
}

.schedule-item {
  min-height: 0px !important;
}

.room1 {
  padding-left: 0;
}

.room1 div,
.room2 div {
  min-height: 150px;
}

.nav.nav-schedule.nav-day {
  z-index: 100;
}

#subtitle {
  color: #008ae6;
}

*:not(.icon) {
  font-family: 'Montserrat' !important;
}

.example-card {
  transition: all .1s linear;
  box-shadow: 0px 1px 2px 0px rgba(26, 11, 82, 0.4);
}

.example-card:hover {
  box-shadow: -1px 10px 29px 0px rgba(26, 11, 82, 0.4);
}

.mat-mdc-tab-header .mdc-tab {
  height: 60px !important;
}
