.schedule .tab-content-schedule .schedule-item .lecture-icon-wrapper {
  top: 23px;
  background-color: transparent;
  
}

.schedule .tab-content-schedule .schedule-item .lecture-icon-wrapper img {
  background-color: white;
}

.schedule .presentations:before {
  left: 110px;
  width: 43%;
  border-left: 1px solid #eff1f5;
}

.schedule .presentations:before {
  left: 110px;
  width: 43%;
  border-left: 1px solid #eff1f5;
}
.schedule .tab-content-schedule .panel-group {
  margin-bottom: 0;
}
.schedule .tab-content-schedule .schedule-item {	
  position: relative;
  margin-bottom: 22px;
  min-height: 65px;
  padding: 0 0 0 67px;
  background-color: transparent;
  min-height: 300px;
}

.schedule .tab-content-schedule .schedule-item .schedule-item-header {	
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.room2 {
  padding-left: 50px;
}

@media (max-width: 480px) {
  .col-sm-6 {
    width: 100%;
  }
  .schedule .presentations:before {
    width: 0px;
    border-left: none;
  }
  .schedule .tab-content-schedule {
    padding: 35px 0;
  }
  .nav.nav-schedule {
    display: inline-block !important;
    max-height: none !important;
    margin-bottom: 10px;
  }

  .room2 {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .col-sm-6 {
    width: 100%;
  }
  .schedule .presentations:before {
    width: 0px;
    border-left: none;
  }
  .schedule .tab-content {
    border: none;
  }
  .nav.nav-schedule {
    position: absolute;
  }

  .room2 {
    padding-left: 0;
  }
}

@media (max-width: 991px) {
  .schedule .tab-content .img-responsive {
    margin: 0;
  }
  .col-sm-6 {
  width: 100%;
  }
  .schedule .presentations:before {
    width: 0px;
    border-left: none;
  }

  .room2 {
    padding-left: 0;
  }
}

.place {
  margin-left: 15px;
}

.schedule .presentations-item .lecture-icon-wrapper {
  left: 385px;
}

.ics {
  display: inline;
  margin-bottom: 2.5%;
  margin-top: -3%;
}

.ics a {
  text-decoration: none;
}

.ics:hover a {
  color: white;
}

.ics span {
  margin-right: 0;
  padding-right: 0;
}

.schedule-item {
  min-height: 0px !important;
}

.room1 {
  padding-left: 0;
}

.room1 div, .room2 div {
  min-height: 150px;
}

.nav.nav-schedule.nav-day {
  z-index: 100;
}
