<section id="team" class="section align-center">
  <div>
    <span class="icon section-icon icon-faces-users-04"></span>
    <h3 (click)=" isCollapsed=!isCollapsed">The Team <mat-icon [class.chev-open]="!isCollapsed"
        [class.chev-close]="isCollapsed">
        expand_more
      </mat-icon>
    </h3>

    <br />
    <br />

    <app-loading [content]="team">
    </app-loading>

    <div *ngIf="team && !isCollapsed" @myInsertRemoveTrigger class="row">
      <div *ngFor="let member of team" class="member-div">
        <mat-card class="example-card speaker-card member"
          [ngStyle]="{'background-image': (member.img !== '/static/default-profile.png')? 'url('+member.img+')' : 'url(https://static.sinfo.org/static/25-sinfo/speakers/hacky.png)' }">
          <div class="photo-wrapper rounded">
            <div class="speaker-socials row">

              <div *ngIf="member.mail" style="width: min-content; color: white;">
                <a href='mailto:{{member.mail}}'>
                  <span style="color: white;" class="fa fa-envelope icon"></span>
                </a>
              </div>

              <div *ngIf="member.twitter" style="width: min-content;">
                <a href='https://twitter.com/{{member.twitter}}'>
                  <span style="color: white;" class="fa fa-twitter icon"></span>
                </a>
              </div>

              <div *ngIf="member.facebook" style="width: min-content;">
                <a href='https://facebook.com/{{member.facebook}}'>
                  <span style="color: white;" class="fa fa-facebook icon"></span>
                </a>
              </div>

              <div *ngIf="member.github" style="width: min-content;">
                <a href='https://github.com/{{member.github}}'>
                  <span style="color: white;" class="fa fa-github icon"></span>
                </a>
              </div>

            </div>
          </div>
        </mat-card>
        <h6 class="name">
          {{member.name}}
        </h6>
      </div>
    </div>



  </div>
</section>