@media screen and (max-width: 768px) {
  .speaker-socials {
    top: 20% !important;
    position: absolute;
  }

  .member {
    height: 220px;
    margin-bottom: 20%;
  }

  .img-responsive {
    width: 60vw;
  }

}

.chev-open {
  position: absolute;
  line-height: 1.2;
  font-size: 50px;
  width: auto;
  height: auto;
  transition: 0.3s transform ease-in-out;
  transform: rotate(180deg);
}

.h3 {
  display: flex;
  justify-content: center;
}

.chev-close {
  line-height: 1.2;
  position: absolute;
  font-size: 50px;
  width: auto;
  height: auto;
  transition: 0.3s transform ease-in-out;
  transform: rotate(0);
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .speaker-socials {
    top: 20% !important;
    position: absolute;
  }

  .member {
    height: 120px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .speaker-socials {
    top: 20% !important;
    position: absolute;
  }

  .member {
    height: 160px;

  }
}

@media screen and (min-width: 1200px) {
  .speaker-socials {
    top: 20% !important;
    position: absolute;
  }

  .member {
    height: 190px;
  }
}

.name {
  min-height: 27px;
}

img .speaker-socials {
  width: 180px;
}

.speaker-socials {
  top: 40% !important;
  position: absolute;
}

.speaker-card {
  color: white;
  height: 15dvh
;
  width: 15dvh
;
  margin: 2%;
  background-size: cover;
}

.example-card {
  transition: all .1s linear;
  box-shadow: 0px 1px 2px 0px rgba(26, 11, 82, 0.4);
}

.example-card:hover {
  box-shadow: -1px 10px 29px 0px rgba(26, 11, 82, 0.4);
}

.row {
  display: flex;
  margin-left: 0;
  margin-right: 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.member-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1%;
  width: min-content;
  height: 22dvh
;
}

.photo-wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
}

.member .photo-wrapper:hover {
  background-color: rgba(0, 122, 204, 0.6);
  width: 100%;
}

.member .photo-wrapper:hover .speaker-socials {
  display: flex;
}

@media (max-width: 480px) {
  .member .photo-wrapper {
    max-width: 100%;
  }
}

@media (max-width: 767px){
  .chev-open,
  .chev-close {
    font-size: 31.5px;
  }
}

*:not(mat-icon, .icon) {
  font-family: 'Montserrat' !important;
}