<section id="team" class="section align-center">
  <div class="container">
    <span class="icon section-icon icon-faces-users-04"></span>
    <h3>The Team</h3>

    <br />
    <br />

    <app-loading [content]="team">
    </app-loading>

    <div *ngIf="team">
      <div *ngFor="let member of team" class="col-sm-2">

        <div *ngIf="member.name !== 'ToolBot!'" class="speaker member">
          <div class="photo-wrapper rounded">
            <img src="{{member.img === '/static/default-profile.png' ? 'https://sinfo.ams3.digitaloceanspaces.com/static/26-sinfo/hacky/hacky.png' : member.img }}" alt="{{member.name}}" class="img-responsive">
            <ul class="speaker-socials">

              <li *ngIf="member.mail">
                <a href='mailto:{{member.mail}}'>
                  <span class="fa fa-envelope"></span>
                </a>
              </li>

              <li *ngIf="member.twitter">
                <a href='https://twitter.com/{{member.twitter}}'>
                  <span class="fa fa-twitter"></span>
                </a>
              </li>

              <li *ngIf="member.facebook">
                <a href='https://facebook.com/{{member.facebook}}'>
                  <span class="fa fa-facebook"></span>
                </a>
              </li>

              <li *ngIf="member.github">
                <a href='https://github.com/{{member.github}}'>
                  <span class="fa fa-github"></span>
                </a>
              </li>

            </ul>
          </div>
          <h3 class="name">{{member.name}}</h3>
        </div>

      </div>
    </div>

  </div>
</section>