<app-menu></app-menu>

<div class="container container-fluid" *ngIf="company && links && processedLinks && links.length === processedLinks.length">
  <div class="align-center">

    <div class="row">
      <h3>{{company.name}}</h3>
      <h6>Links</h6>
    </div>

    <div class="row">
      <div class="portrait-wrapper">
        <img class="portrait" src="{{company.img}}">
      </div>
    </div>

    <ngb-accordion [closeOthers]="true" #acc="ngbAccordion">
      <div *ngFor="let link of processedLinks">

        <ngb-panel>
          <ng-template ngbPanelTitle>
            <div class="row accord">
              <button type="button" class="btn btn-sm">
                <p>{{link.attendee}}</p>
                <span class="caret"></span>
              </button>
            </div>
          </ng-template>

          <ng-template ngbPanelContent>
            <div class="row accord">
              <div class="link-note">
                <p>
                  <span class="panel-content-strong">Company employee: </span>{{link.user}}</p>
                <p>
                  <span class="panel-content-strong">Note: </span>{{link.note}}</p>
              </div>
            </div>
          </ng-template>
        </ngb-panel>

      </div>
    </ngb-accordion>

    </div>
</div>