<app-loading [content]="me && company"></app-loading>

<div class="wrapper pad" *ngIf="me && company">
  <div *ngIf="company">
    <div class="wrapper">
      <h3>{{company.name}}</h3>
      <h6>Links</h6>
    </div>
  </div>

  <div *ngIf="company" class="row">
    <div class="col-sm-12">
      <div class="portrait-wrapper">
        <img class="portrait" src="{{company.img}}">
      </div>
    </div>
  </div>

  <div *ngIf="!processedLinks" class="row">
    <div class="col-sm-12">
      <h6 class="lead">
        Looks like you have not made any links yet.
        <br> You can link with attendees
        <a routerLink="/links/link">here</a>.
      </h6>
    </div>
  </div>


  <div id="links" *ngIf="company && processedLinks" class='links'>

    <div *ngFor="let link of processedLinks" class="link">

      <h5 class='link-title' *ngIf="link.attendee">{{link.attendee.name}}</h5>

      <div class="link-note">
        <div>
          <p>
            <span class='link-section'>
              <h6 class='link-title'>Employee information </h6>
              <span><span class="panel-content-strong">Name: </span>{{link.user.name}}</span>
            </span>
          </p>
          <p>
            <span class='link-section'>
              <h6 class='link-title'>User information </h6>
              <span class='link-data warning' *ngIf='!link.cv'>This attendee has not submitted his CV yet</span>
              <p class='lead small tip link-title' *ngIf='link.noteEmpty && !link.cv'>No information on this user</p>
              <span class='link-data' *ngIf='link.note.contacts.email'><span class="panel-content-strong">Email:
                </span>{{link.note.contacts.email}}</span>
              <span class='link-data' *ngIf='link.note.contacts.phone'><span class="panel-content-strong">Phone:
                </span>{{link.note.contacts.phone}}</span>
              <span class='link-data' *ngIf='link.note.availability'><span class="panel-content-strong">Availability:
                </span>{{link.note.availability}}</span>
              <span class='link-data' *ngIf='link.note.degree'><span class="panel-content-strong">Degree:
                </span>{{link.note.degree}}</span>
              <span class='link-data' *ngIf='link.note.interestedIn'><span class="panel-content-strong">Interested in:
                </span>{{link.note.interestedIn}}</span>
              <span class='link-data' *ngIf='link.note.otherObservations'><span class="panel-content-strong">Other
                  Notes:
                </span>{{link.note.otherObservations}}</span>
            </span>
          </p>
        </div>
        <div>
          <span class='link-section'>
            <button type="button" class="btn btn-button btn-danger center" (click)="deleteLink(link.attendee.id)">
              Delete Link
            </button>
          </span>
          <p class="lead small tip">
            Tip: To edit this link's note reinsert the attendee's ID
          </p>
        </div>
      </div>

    </div>

  </div>

</div>