<app-menu></app-menu>

<app-loading [content]="me && company"></app-loading>

<div class="sidebar-wrapper" *ngIf="me && company">

  <app-sidebar [user]="me"></app-sidebar>

  <div class="container container-fluid">
    <div class="align-center">

      <div *ngIf="company" class="row">
        <div class="col-sm-12">
          <h3>{{company.name}}</h3>
          <h6>Links</h6>
        </div>
      </div>

      <div *ngIf="company" class="row">
        <div class="col-sm-12">
          <div class="portrait-wrapper">
            <img class="portrait" src="{{company.img}}">
          </div>
        </div>
      </div>

      <div *ngIf="!processedLinks" class="row">
        <div class="col-sm-12">
          <h6 class="lead">
            Looks like you have not made any links yet.
            <br> You can link with attendees
            <a routerLink="/links/link">here</a>.
          </h6>
        </div>
      </div>


      <ngb-accordion [closeOthers]="true" #acc="ngbAccordion" *ngIf="company && processedLinks ">

        <app-loading [content]="links && processedLinks && links.length === processedLinks.length"></app-loading>

        <div *ngFor="let link of processedLinks">

          <ngb-panel>
            <ng-template ngbPanelTitle>
              <div class="row accord">
                <button type="button" class="btn btn-sm">
                  <p>{{link.attendee.name}}</p>
                  <span class="caret"></span>
                </button>
              </div>
            </ng-template>

            <ng-template ngbPanelContent>
              <div class="row accord">
                <div class="link-note">
                  <p>
                    <span class="panel-content-strong">Company employee: </span>
                    {{link.user.name}}
                  </p>
                  <p>
                    <span class="panel-content-strong">Note: </span>
                    {{link.note}}
                  </p>
                  <p class="lead small tip">
                    Tip: To edit this link's note rescan the QR code
                  </p>
                </div>
              </div>
            </ng-template>
          </ngb-panel>
        </div>
      </ngb-accordion>
    </div>
  </div>
</div>