.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accord.row button {
  width: 90%;
  left: 5%;
  margin: 0;
  background-color: yellow;
  color: black !important;
  text-align: left;
  white-space: normal;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link-title{
  align-self: center;
  text-align: center;
}

.link-data{
  word-break: break-all;
}

.link-section{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.btn-danger {
  background-color: #d9534f;
  border-color: #d9534f;
  padding-top: 15px;
  padding-bottom: 15px;
}

.link-note p {
  padding-left: 10px;
  padding-right: 10px;
  margin: 4px;
  text-align: left;
}
.link-note .tip {
  text-align: center;
}

.btn{
  align-self: center;
}

.accord.row button:active {
  background-color: transparent;
}
.accord.row button, .accord.row div {
  border: 1px solid #0164a9;
  border-radius: .25rem;
  margin-top: 7px;
}
.accord.row button p {
  width: 95%;
  margin-bottom: 0;
  letter-spacing: 2px;
}
.card {
  width: 95%;
  margin-top: 10px auto !important;
}
.caret {
  float: right;
  color: #048ae6;
}
.panel-content-strong {
  font-weight: bold;
}
div.portrait-wrapper {
  margin: 10px auto;
}
img.portrait {
  width: 150px;    
}
h3 {
  margin: 20px auto;
}
img.portrait {
  border-radius: 50%;
  border: 3px solid #048ae6;
}

#links {
  display: flex;
  flex-direction: column;
}

.link {
  margin-top: 5%;
  margin-bottom: 5%;

  border-color: #058ae6;
  border-style: solid;
  border-width: 2px;
  border-radius: 28px;

  padding: 3%;
  background-color: #058ae629;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}