<app-menu *ngIf="isAllSponsors"></app-menu>

<app-loading [content]="sponsors"></app-loading>

<section *ngIf="sponsors && sponsors.length > 0" id="sponsors" class="section align-center">

  <div class="container">
    <span class="icon section-icon icon-documents-bookmarks-12"></span>
    <h2>Sponsors</h2>
    <br />

    <app-loading [content]="sponsors"></app-loading>

    <div *ngIf="sponsors">

      <div class="sponsor diamond" *ngIf="diamond">
        <img src="{{ diamond.img }}" alt="{{ diamond.name }}" title="{{ diamond.name }}" onerror="this.src='https://sinfo.ams3.digitaloceanspaces.com/static/25-sinfo/speakers/hacky.png'">
      </div>

      <hr>

      <div class="row" *ngIf="platinums.length">
        <div class="sponsors platinum">
          <div class="sponsor" *ngFor="let platinum of platinums">
            <img src="{{ platinum.img }}" alt="{{ platinum.name }}" title="{{ platinum.name }}" onerror="this.src='https://sinfo.ams3.digitaloceanspaces.com/static/25-sinfo/speakers/hacky.png'">
          </div>
        </div>
      </div>

      <div *ngIf="showAll">
        <hr>

        <div class="row" *ngIf="golds.length">
          <div class="sponsors gold">
            <div class="sponsor" *ngFor="let gold of golds">
              <img src="{{ gold.img }}" alt="{{ gold.name }}" title="{{ gold.name }}" onerror="this.src='https://sinfo.ams3.digitaloceanspaces.com/static/25-sinfo/speakers/hacky.png'">
            </div>
          </div>
        </div>

        <hr>

        <div class="row" *ngIf="silvers.length">
          <div class="sponsors silver">
            <div class="sponsor" *ngFor="let silver of silvers">
              <img src="{{ silver.img }}" alt="{{ silver.name }}" title="{{ silver.name }}" onerror="this.src='https://sinfo.ams3.digitaloceanspaces.com/static/25-sinfo/speakers/hacky.png'">
            </div>
          </div>
        </div>

        <hr *ngIf="others.length">

        <div class="row" *ngIf="others.length">
          <div class="sponsors silver">
            <div class="sponsor" *ngFor="let other of others">
              <img src="{{ other.img }}" alt="{{ other.name }}" title="{{ other.name }}">
            </div>
          </div>
        </div>
      </div>

      <a *ngIf="!showAll" routerLink="/sponsors" class="btn btn-outline-clr btn-sm">
        See more
      </a>
    </div>

  </div>
</section>

<section *ngIf="!sponsors || sponsors.length == 0" id="sponsors" class="section align-center">

  <div class="container">
    <span class="icon section-icon icon-documents-bookmarks-12"></span>
    <h3>We are still looking for sponsors for our next edition!</h3>
    <h5>If you want to participate, contact us through <a href="mailto:geral@sinfo.org">geral@sinfo.org</a></h5>
    <br />
  </div>

</section>